!
! Minimal ds.config file.
!

if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/zebu/dt/data"
endif

set DisableRemote true
!
! Radar data (image)
!
class RadarImage
	organization	image
	filetype	compressed_raster
	mobile
	maxsample	30
endclass

instance RadarImage spol 

class PrecipImage RadarImage
	maxsample 1
endclass

instance PrecipImage precip.basic precip.hourly precip.storm 
instance PrecipImage precip.long

class Track
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	3600
endclass

instance Track chasevan


!
! Cleanup code.
! note that this doesn't do a thing about the sweepfile directory
!

set baseperiod 24*3600		! One day

procedure DoCleanup fraction real
	truncate fraction*baseperiod spol
	truncate fraction*baseperiod precip.basic
	truncate fraction*baseperiod precip.hourly
	truncate fraction*baseperiod precip.storm
	truncate fraction*baseperiod precip.long
endprocedure


set minfree 50000	! kilobytes

procedure CleanupScan	
	set fraction 1.0
	while (FreeSpace ('/zebu/dt') < minfree and fraction > 0.1)
		DoCleanup fraction
		set fraction (2*fraction/3)
	endwhile
endprocedure


! every 600 'CleanupScan'
