!
! Display manager configuration file.
!

!
! Set up path variables.
!

set CTablePath concat('colortables,',CTablePath)
!set MapPath concat('maps,',MapPath)

!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
pddir pd
pddir dconfig/pd
set libpd concat(c$libdir,'/pd')
pddir #libpd

set configdir 'dconfig'
!
! The graphics process initialization file.
!
set init_file concat(getenv("CONFIGHOME"), "/gp.init")
!
!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...display configurations ...'
read DisplayConfigs
!message '     ...color tables...'
!read ColorTables
message '     ...the icon bar...'
read IconBar

read dm.ef
read dm.cf

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure

!
! Reset a window to its default plot description.  Expects to be invoked
! from a graphics process.
!
procedure ResetWindow
	local pdname pd_param(dm$button_window,"global","pd-name","string")
	newpd dm$button_window pdname
endprocedure


!
! Stuff for the demo sounding stuff.  I'm not sure it's useful for anything,
! and should probably go away.
!
set IsSounding false

procedure toggle_snd
	if (IsSounding)
		display picture
	else
		display pictures
	endif
	set IsSounding (not IsSounding)
endprocedure

!
! Tweak some window system specific features.
!
!if (getenv("OPENWINHOME") <> "UNDEFINED")
!	set sleepafter	1
!	set sleepfor	5
	set tbspace 25
!else	
!	set sleepafter	4
!	set sleepfor	1
!	set tbspace 0
!endif


!
! Come up with an interesting display.
!

!set filepath concat(c$basedir, "/tmp")
!parameter defaults defaults file-path #filepath
parameter defaults defaults post-proc-mode true
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
display #config

!
!allow fest specific choose of config windows
!
define widget pd-menu intmenu 'PD Templates'
	title 'Select a Plot Description'
	line
	entry 'Search PD Directory' 'pddir dconfig/pd'
	line
	entry 'Midwest'	'formtext #ui$form pdname "one-UpperLeft"'
	entry 'US' 'formtext #ui$form pdname "festdemo-UpperRight"' 
	entry 'CP4' 'formtext #ui$form pdname "festdemo-LowerLeft"' 
	entry 'Skew-t' 'formtext #ui$form pdname "festdemo-UpperLeft"'
	entry 'Xsection' 'formtext #ui$form pdname "xsect-LowerLeft"'
	entry 'Profiler' 'formtext #ui$form pdname "profiler-UpperLeft"' 
	entry 'XYTimePlot' 'formtext #ui$form pdname "xytimegraph-UpperLeft"'
	entry 'XYAltitudePlot' 'formtext #ui$form pdname "xygraph-UpperLeft"'
endmenu
