!
! WE USE THIS FILE FOR FAST STARTS WHEN WE ONLY WANT TO BRING ZEB UP TO
! KNOW ABOUT ONE OR A COUPLE OF PLATFORMS.  THIS REDUCED THE TIME NEEDED
! WHEN THE DATASTORE DAEMON INITIALIZES THE DATASTORE.
!
! Data store configuration file.
!
! Platform parameters:
!	organization 	The expected organization of the data
!		3dgrid		three dimensional regular grid
!		2dgrid		two-dimensional regular grid
!		irgrid		two-dimensional irregular grid (PAM)
!		scalar		basic scalar point data
!		outline		Boundaries
!	filetype 	How this data is stored on the disk. Only "netcdf"
!		 	for now; more later.
!			Later: "boundary" works too.
!	keep 		The minimum time period of data to keep on the disk if
!			at all possible.
!	maxsamples 	The maximum number of data samples to put into one
!			disk file.
!	mobile		Indicates that the data collection platform moves
!			through space. For soundings, aircraft.
!	regular		This platform can be expected to return
!			regularly-spaced samples at the given interval.
!	composite	This "platform" is a grouping of several smaller
!			platforms. Only irgrid platforms -- groupings of
!			stationary scalar platforms -- are supported now.
!	discrete	Observations are clumped together into discrete
!			chunks. Used to select the optimal file organization.
!	directory	The directory in which to find data for this
!			platform.
!

!
! Path to the data directory.
!
if (getenv("DATAHOME") <> "UNDEFINED")
	set datadir concat(getenv("DATAHOME"), "/sgp/platforms")
else
	set datadir '/scr/bock2/granger/arm/SDS/platforms'
endif

! Set to cache upon a normal exit
!
set CacheOnExit true

! Set to cache every 60 seconds the files that are new
!
every 120 'cache dirty'

! The point of keeping the cache files up to date is to allow a quick
! restart, which only happens if we tell the daemon to accept the cache
! files as complete.  Rescans automatically set this flag back to false.
!
set LDirConst true

! As new files get added to the data directory, keep the daemon's tables
! updated on these files to within at least 2 minutes.  New files will
! automatically generate data notifications for each changed platform.
!
every 300 'rescan all'

!------------------------------------------------------------------------!
! 			Begin platform definitions			 !
!------------------------------------------------------------------------!

platform sgpgoesvis.tmp
	organization	image
	filetype	raster
	maxsamples	10
endplatform

platform sgpgoesir.tmp
	organization	image
	filetype	raster
	maxsamples	10
endplatform

platform sgp30smosE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform sgp30smosE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform sgp30smosE20.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform sgp30smosE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform DsgpsirosE13.a1
!	organization	nspace
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE15.a1
!	organization	nspace
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE9.a1
!	organization	nspace
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE4.a1
!	organization	nspace
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE16.a1
!	organization	nspace
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform sgpsondewrpnC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform sgpsondewrpnB1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform sgpsondewrpnB4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform sgpsondewrpnB5.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform sgpsondewrpnB6.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

!platform DsgpmwrlosC1.a1
platform sgpmwrlosC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	2140
	composite
	daysplit
endplatform

platform Dsgpmfr25mC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	composite
	daysplit
endplatform

platform DsgpmplcbhC1.c1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	composite
	daysplit
endplatform

platform Dsgp915rwptempC1.a2
	organization	nspace
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp915rwpwindC1.a2
	organization	nspace
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp50rwptempC1.a2
	organization	nspace
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp50rwpwindC1.a2
	organization	nspace
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform sgpngm250X1.c1
	organization	3dgrid
	filetype	netCDF
	maxsamples	4
	daysplit
endplatform

platform sgpngm250X1.ns.issue
	organization	nspace
	filetype	netCDF
	maxsamples	4
	daysplit
endplatform

platform sgpngm250X1.ns.valid
	organization	nspace
	filetype	netCDF
	maxsamples	4
	daysplit
endplatform

!platform DsgpblcC1.a1
!	organization	scalar
!	filetype	netCDF
!	maxsamples	720
!	daysplit
!endplatform

platform sgpblcC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform sgpuavtrack
	organization	scalar
	filetype	netcdf
	maxsamples	(6*3600)
	mobile
endplatform

platform sgpnwssurfX1.a1
	organization	irgrid
	filetype	netcdf
	maxsamples	24
	daysplit
endplatform

subplatform sgpnwssurfX1.a1 3km adm bvo cnk cnu csm ddc eha emp end flv
subplatform sgpnwssurfX1.a1 foe fri fsi gag gck gld hbr hlc hut hys iab
subplatform sgpnwssurfX1.a1 ict ixd lbl lts mhk mlc ojc okc p28 pnc pwa
subplatform sgpnwssurfX1.a1 rsl sln tik top tul wdg

!platform sgpsondeC1.a1           !UDF2
!	organization	scalar
!	filetype	netCDF
!	maxsamples	4000
!	mobile
!endplatform

!platform sgpsfchrlyX1.a1   ! UDF2
!	organization	irgrid
!	filetype	netcdf
!	maxsamples	24
!	daysplit
!endplatform
!
!subplatform sgpsfchrlyX1.a1 3km adm bvo cnk cnu csm ddc eha emp end flv
!subplatform sgpsfchrlyX1.a1 foe fri fsi gag gck gld hbr hlc hut hys iab
!subplatform sgpsfchrlyX1.a1 ict ixd lbl lts mhk mlc ojc okc p28 pnc pwa
!subplatform sgpsfchrlyX1.a1 rsl sln tik top tul wdg


