!
! Display manager configuration file.
!
	set CTablePath concat('colortables,', CTablePath)
	set ForceHistory true

!
! Give them a time controller unless they have requested otherwise.
!
	if (getenv ("NO_DM_TIME") = "UNDEFINED")
		message 'Popping up time control window....'
		popup time
	endif
!
! Pull in plot descriptions.
!
	message 'Loading:'
	message '     ...plot descriptions...'
	pddir pd
	set libpd concat(c$libdir,'/pd')
	pddir #libpd
	read dm.sounding
!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
	message '     ...button maps...'
	read ButtonMaps
	message '     ...display configurations ...'
	read DisplayConfigs
	message '     ...the icon bar...'
	read IconBar
	message 'ready!'
!
! Handle zooming out of window menus.  Does anybody still use this?
!
	procedure zoom window string
		if (dm$config = "zoom")		! Already zoomed -- go back
			display #previous_config
		else
			set previous_config dm$config
			display zoom #window
		endif
	endprocedure

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
!
	set sleepafter	4
	set sleepfor	1

parameter defaults defaults file-path /net/src2/tmp	! CHANGE THIS

!
! Give them some sort of display.
!
	set config getenv("DEFAULT_CONFIG")
	if (config = "UNDEFINED")
		set config "radar"
	endif
	display #config
