!
! Data store configuration file for the CAPE project.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set datadir getenv("DATA_DIR")
else
	set datadir "/scr/bitter/cape"
endif

!
! The PAM surface network -- as a single IRGRID, and with all subplats.
!
platform mesonet
	organization	irgrid
	filetype	netCDF
	regular		60
	maxsamples	360
	composite
endplatform

subplatform mesonet  1  2  3  4  5  6  7  8  9 10
subplatform mesonet 11 12 13 14 15 16 17 18 19 20
subplatform mesonet 21 22 23 24 25 26 27 28 29 30
subplatform mesonet 31 32 33 34 35 36 37 38 39 40
subplatform mesonet 41 42 43 44 45 46 47

!
! DDop data from mudras.
!
platform ddop
	organization	3dgrid
	filetype	netCDF
endplatform


platform goes
	organization	image
	filetype	raster
endplatform
!
! Sounding platforms
!
class Sonde
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endclass

instance Sonde	dun day tco dpk rus fel mobile


platform field-mill
	organization	2dgrid
	filetype	netcdf
	maxsamples	30
endplatform
!
! The various outline datasets.
!
platform boundary
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

platform spotlight
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

!
! Nowcast is a locally drawn boundary.
! Capow stuff comes from CaPOW
!
platform nowcast
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

platform nowcast_2
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

!
! The LLP lightning network.  This looks like a mobile platform,
! moving about in amazing ways.
!
platform lightning
	organization	scalar
	mobile
	filetype	netCDF
	maxsamples	500
endplatform

!
! Radars
!
class RadarPlat
	organization	image
	filetype	raster
	maxsamples	50
endclass

instance RadarPlat	cp2 cp4

!
! Aircraft platforms
!
class AircraftPlat
	organization 	scalar
	filetype	netcdf
	mobile
endclass

instance AircraftPlat	kingair n312d_nats n510mh n566na n312d n2uw n42rf
instance AircraftPlat	n431na n4706b n709na n9929j n312d_gen

!
! Pseudo platform for the CP2 azimuth limits.  Basic immobile scalar,
! with "left" and "right" as fields.
!
platform cp2-az-limits
	organization	scalar
	filetype	netcdf
	maxsamples	10
endplatform


!
! The "null" platform as a placeholder.
!
platform null
	organization scalar
	filetype netcdf
endplatform
