!
! Data store configuration file.
!
! Platform parameters:
!	organization 	The expected organization of the data
!		3dgrid		three dimensional regular grid
!		2dgrid		two-dimensional regular grid
!		irgrid		two-dimensional irregular grid (PAM)
!		scalar		basic scalar point data
!		outline		Boundaries
!	filetype 	How this data is stored on the disk.  Only "netcdf"
!		 	for now; more later.
!			Later: "boundary" works too.
!	keep 		The minimum time period of data to keep on the disk if
!			at all possible.
!	maxsamples 	The maximum number of data samples to put into one
!		      	disk file.
!	mobile		Indicates that the data collection platform moves
!			through space.  For soundings, aircraft.
!	regular		This platform can be expected to return
!			regularly-spaced samples at the given interval.
!	composite	This "platform" is a grouping of several smaller
!			platforms.  Only irgrid platforms -- groupings of
!			stationary scalar platforms -- are supported now.
!	discrete	Observations are clumped together into discrete
!			chunks.  Used to select the optimal file organization.
!	directory	The directory in which to find data for this
!			platform.
!

!
! Path to the data directory.
!
set datadir "/zeb/capedata"

!
! The PAM surface network -- as a single IRGRID, and with all subplats.
!
platform mesonet
	organization	irgrid
	filetype	netCDF
	regular		60
	maxsamples	360
	composite
endplatform

subplatform mesonet  1  2  3  4  5  6  7  8  9 10
subplatform mesonet 11 12 13 14 15 16 17 18 19 20
subplatform mesonet 21 22 23 24 25 26 27 28 29 30
subplatform mesonet 31 32 33 34 35 36 37 38 39 40
subplatform mesonet 41 42 43 44 45 46 47

!
! The PAM-KSC surface network
!
platform sfc
	organization	irgrid
	filetype	netCDF
	regular		60
	maxsamples	360
	composite
endplatform

subplatform sfc pam01 pam02 pam03 pam04 pam05 pam06 pam07 pam08 pam09 pam10
subplatform sfc pam11 pam12 pam13 pam14 pam15 pam16 pam17 pam18 pam19 pam20
subplatform sfc pam21 pam22 pam23 pam24 pam25 pam26 pam27 pam28 pam29 pam30
subplatform sfc pam31 pam32 pam33 pam34 pam35 pam36 pam37 pam38 pam39 pam40
subplatform sfc pam41 pam42 pam43 pam44 pam45 pam46 pam47 k0001 k0003 k0005
subplatform sfc k0108 k0110 k0112 k0303 k0311 k0313 k0403 k0412 k0415 k0506
subplatform sfc k0509 k0714 k0803 k0419 k0417 k1007 k0709 k0805 k0917 k1012
subplatform sfc k1108 k0513 k0511 k0512 k0393 k0394 k0397 k0398 k2016 k1617
subplatform sfc k0819 k0421 k0022 k1612 k1215 k0019 k2008 k1609 k2202 k1605
subplatform sfc k1500 k1502 k1204 k9001 k1000 k9105 k9404 k0300

!
! TREC
!
platform trec
	organization 3dgrid
	filetype zeb
endplatform

!
! Sounding platforms
!
platform dun
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform day	! Daytona beach
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform tco
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform dpk
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform rus
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform fel
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform mobile
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

!
! Field milll platform.
!
platform field-mill
	organization	2dgrid
	filetype	netcdf
	maxsamples	30
endplatform

!
! The various outline datasets.
!
platform boundary
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform spotlight
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

!
! Nowcast is a locally drawn boundary.
! Capow stuff comes from CaPOW
!
platform nowcast
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform nowcast.1
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform nowcast.2
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform nowcast.3
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform l_nowcast_2
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform l_nowcast_3
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform capow_now
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform capow_bdry
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

platform capow_core
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform

!
! The LLP lightning network.  This looks like a mobile platform,
! moving about in amazing ways.
!
platform lightning
	organization	scalar
	mobile
	filetype	netCDF
	maxsamples	500
endplatform

!
! CP4 radar.
!
platform cp4
	organization	image
	filetype	raster
	maxsamples	50
endplatform

platform goes
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! Dual-Doppler platforms
!

platform ddop 
	organization 	3dgrid
	filetype	netCDF
endplatform

!
! Aircraft platforms
!
platform n312d_gen
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform n510mh
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n566na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n312d
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n2uw
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n42rf
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n431na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n4706b
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n709na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n9929j
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

!
! Pseudo platform for the CP2 azimuth limits.  Basic immobile scalar,
! with "left" and "right" as fields.
!
platform cp2-az-limits
	organization	scalar
	filetype	netcdf
	maxsamples	10
endplatform

platform loc-test
	organization	scalar
	filetype	netcdf
	mobile
	maxsamples	10
endplatform
