!
! Data store configuration file for the CAPE project.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set datadir getenv("DATA_DIR")
else
	set datadir "/scr/bitter/cape"
endif

!
! The PAM surface network -- as a single IRGRID, and with all subplats.
!
platform mesonet
	organization	irgrid
	filetype	netCDF
	regular		60
	maxsamples	360
	composite
endplatform

subplatform mesonet  1  2  3  4  5  6  7  8  9 10
subplatform mesonet 11 12 13 14 15 16 17 18 19 20
subplatform mesonet 21 22 23 24 25 26 27 28 29 30
subplatform mesonet 31 32 33 34 35 36 37 38 39 40
subplatform mesonet 41 42 43 44 45 46 47

!
! DDop data from mudras.
!
platform ddop
	organization	3dgrid
	filetype	netCDF
endplatform


platform goes
	organization	image
	filetype	raster
endplatform
!
! Sounding platforms
!
platform dun
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform day	! Daytona beach
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform tco
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform dpk
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform rus
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform fel
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform

platform mobile
	organization	scalar
	filetype	netcdf
	mobile
	discrete
	maxsamples	1000
endplatform


platform field-mill
	organization	2dgrid
	filetype	netcdf
	maxsamples	30
endplatform
!
! The various outline datasets.
!
platform boundary
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

platform spotlight
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

!
! Nowcast is a locally drawn boundary.
! Capow stuff comes from CaPOW
!
platform nowcast
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

platform nowcast_2
	organization	outline
	filetype	boundary
	maxsamples	10
endplatform

!
! The LLP lightning network.  This looks like a mobile platform,
! moving about in amazing ways.
!
platform lightning
	organization	scalar
	mobile
	filetype	netCDF
	maxsamples	500
endplatform

platform cp4
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! Aircraft platforms
!

platform kingair
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform n312d_nats
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform n510mh
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n566na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n312d
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n2uw
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n42rf
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n431na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n4706b
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n709na
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n9929j
	organization 	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform n312d_gen
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

!
! Pseudo platform for the CP2 azimuth limits.  Basic immobile scalar,
! with "left" and "right" as fields.
!
platform cp2-az-limits
	organization	scalar
	filetype	netcdf
	maxsamples	10
endplatform


!
! The "null" platform as a placeholder.
!
	platform null
		organization scalar
		filetype netcdf
	endplatform
