!
! Data store configuration file.
!
! Platform parameters:
!	organization 	The expected organization of the data
!		3dgrid		three dimensional regular grid
!		2dgrid		two-dimensional regular grid
!		irgrid		two-dimensional irregular grid (PAM)
!		scalar		basic scalar point data
!	filetype 	How this data is stored on the disk.  Only "netcdf"
!		 	for now; more later.
!	keep 		The minimum time period of data to keep on the disk if
!			at all possible.
!	maxsamples 	The maximum number of data samples to put into one
!		      	disk file.
!	mobile		Indicates that the data collection platform moves
!			through space.  For soundings, aircraft.
!	regular		This platform can be expected to return
!			regularly-spaced samples at the given interval.
!	composite	This "platform" is a grouping of several smaller
!			platforms.  Only irgrid platforms -- groupings of
!			stationary scalar platforms -- are supported now.
!	discrete	Observations are clumped together into discrete
!			chunks.  Used to select the optimal file organization.
!	directory	The directory in which to find data for this
!			platform.
!

!
! The default minimum keep period.
!
set DefaultKeep (8*60)

!
! Our test platform for data entry.
!
platform test
	organization	2dgrid
	filetype	netcdf
	maxsamples	10
	discrete
	directory	/fcc/DataStore/Test
endplatform



platform cp3
	organization	3dgrid
	filetype	netcdf
	keep		4h
	maxsamples	30	! but ingest splits
	discrete
endplatform



platform ddop
	organization	3dgrid
	filetype	netcdf
	keep		4h
	discrete
endplatform



platform trec
	organization	3dgrid
	filetype	netcdf
	keep		2h
	discrete
endplatform


platform mesonet
	organization	irgrid
	directory	"/fcc/data/mesonet"
	filetype	netcdf
	regular		60
	maxsamples	60
	composite
endplatform

subplatform mesonet  1  2  3  4  5  6  7  8  9 10
subplatform mesonet 11 12 13 14 15 16 17 18 19 20
subplatform mesonet 21 22 23 24 25 26 27 28 29 30
subplatform mesonet 31 32 33 34 35 36 37 38 39 40
subplatform mesonet 41 42 43 44 45 46

platform kingair
	organization	scalar
	filetype	netcdf
	mobile
	maxsamples	600		! Experiment with this
	regular		1
endplatform

platform byr
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform dvr
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform elz
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform gdn
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform hud
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform mb1
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform mb2
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform

platform mb3
	organization	scalar
	filetype	netcdf
	mobile
	discrete
endplatform



platform boundary
        organization    outline
        filetype        boundary
	keep		4h
        maxsamples      10
endplatform
