! $Id: ds.config,v 1.1 1996-06-19 21:43:12 burghart Exp $
! Data store config file for SCMS.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif

set LFileConst false
set CacheOnExit true

set DisableRemote true


!
! Colorado mesonet
!
platform co_meso
	organization	irgrid
	filetype	netCDF
	maxsamples	288
	composite
endplatform

subplatform co_meso ARVC2 BOUC2 BRIC2 LGMC2 KNBC2 ROLC2 EPKC2 LAKC2 LTNC2
subplatform co_meso ISGC2 PTLC2 LVEC2 BYEC2 FORC2 AURC2 NUNC2 GLYC2 FTMC2
subplatform co_meso ELBC2 WRDC2 BGDC2 ERIC2

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
