!
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
pddir pd

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...color tables...'
read ColorTables
message '     ...display configs...'
read DisplayConfigs
message '     ...the icon bar...'
read IconBar
message 'ready!'


!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure


!
! The platform list for the position entry widget.
!
define widget plats intmenu 'platforms'
	title 'Platforms'
	line
	entry 'CHILL'	'formtext #ui$form platform chill'
	entry 'MHR'	'formtext #ui$form platform mhr'
endmenu

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1

!
! Come up with an interesting display.
!
set SoundEnabled true
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
display #config
