!
! Data store configuration file.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/scr/framboise/chill"
endif

set CacheOnExit true
set DisableRemote true
set host getenv("HOST")

!
! Gridded MHR and CHILL data.
!
platform mhr_grid
	organization	3dgrid
	filetype	zeb
	maxsamples	10
endplatform

platform chill_grid
	organization	3dgrid
	filetype	zeb
	maxsamples	10
endplatform

