! $Id: ds.config,v 1.1.1.1 1997-03-13 20:10:29 granger Exp $
! Data store config file for McTEX
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif

set LFileConst false
set CacheOnExit true

set DisableRemote true


!
! Radar data
!
class RadarRaw
	organization	image
	filetype	compressed_raster
	maxsamples	20
endclass
instance RadarRaw radar

!
! Gridded radar
!
class RadarGrid
	organization	3dgrid
	filetype	netcdf
	maxsamples	1
endclass
instance RadarGrid	radar_gridded

!
! GMS stuff
!
class GMS_plat
	organization	image
	filetype	compressed_raster
	maxsamples	1
endclass
instance GMS_plat	gms

!
! AWS station data
!
platform aws
        filetype        netcdf
        organization    irgrid
        composite
        maxsamples      50000
endplatform
subplatform aws mull rank muna ngui pirl mill maxw
subplatform aws pick andr goos bonk bath yuna
subplatform aws tway cobh
!
! Profilers
!
class Profiler
        organization    1dgrid
        filetype        netcdf
        maxsamples      1000
        directory       prof
        instancedir     subdirclass
endclass
instance Profiler  pro_maxw_l pro_maxw_h pro_pick_l pro_pick_h
instance Profiler  pro_pirl_l pro_pirl_h
!
! RASS
!
class RASS
        organization    1dgrid
        filetype        netcdf
        maxsamples      100
        daysplit
endclass
instance RASS     rass/maxw_r rass/pick_r
!
! Aircraft
!
class Track
        organization    scalar
        filetype        netcdf
        mobile
        daysplit
        maxsamples      5000
        directory       aircraft
        instancedir     subdirclass
endclass
instance Track        c340 aeros

!
! Sounding platform
!
class Sounding          ! Ngui
        organization    scalar
        filetype        netcdf
        maxsamples      1000
        mobile
        discrete
endclass
instance Sounding       rsnd

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
!
! Jim's polyline platform.
!
class BoundaryPlat
        organization    outline
        filetype        boundary
        maxsamples      10
endclass
instance BoundaryPlat jim_forecast
!
! Jim's insert widget platforms.
!
class BoundaryPlatInsert
        organization    outline
        filetype        zeb
        maxsamples      10
endclass
instance BoundaryPlatInsert jim1 jim2 jim3 jim4 jim5
