!
! Minimal ds.config file.
!

!
! elev and ground_cover data live under the project directory
!
set elevdir concat(c$projdir, "/elev")
set gcoverdir concat(c$projdir, "/ground_cover")

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
	PlatDir ground_cover #gcoverdir
endsource

set PTableSize 1000
!
! The class for all of our sweepfile "platforms"
!
class PolarPlatform
	organization polar
	filetype sweepfile
endclass

!
! The radar itself (direct parameters)
!
instance PolarPlatform spol

!
! The various precipitation accumulations
!
instance PolarPlatform precip.basic precip.hourly precip.storm
instance PolarPlatform particles	    ! Particle type	

!
! Satellite imagery
!
platform goes
	organization	image
	filetype	compressed_raster
endplatform

!
! A useful track class if this deployment includes chase vans or aircraft.
!
class Track
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	3600
endclass

! instance Track chasevan
instance Track citation

class Boundary
	organization	outline
	filetype	zebra
endclass

instance Boundary boundary

!
! topographic data
!
platform elev
	organization	nspace
	filetype	netcdf
endplatform

platform ground_cover
	organization	nspace
	filetype	netcdf
endplatform
