! $Id: ds.config,v 1.11 1999-10-08 20:36:38 granger Exp $
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/ds"
endif
message "Data dir: #" DataDir

source Incoming
	Directory #DataDir
!	[CacheFile <cachefile>]
	DirConst false
	FileConst true
!	[RememberAll [true|false]]
	DelayDataDirs true
!	[PlatDir <platname> <directory>]
endsource

!set LFileConst true
!set LDirConst false

! Directories in the "remote" tree are marked constant so they won't
! be scanned
!set RDirConst true
!set RFileConst true
!set DisableRemote true

set CacheOnExit true

!set DFTableSize 20000
!set DFTableGrow 5000
!set PTableSize  100

! Update cache files after each rescan, in case we croak before getting
! a chance to write them.
!
procedure Update
	rescan all
	cache dirty
endprocedure

set cmd "Update"
set cmd quote(cmd)
!every 1800 #cmd
!message "Rescanning and updating caches every 30 minutes." 

!
! We don't want to create directories we may never use
!
!set DelayDataDirs true

!
! ISS instrument class
!
class Instrument
	filetype	netcdf
	organization	nspace
	instancedir	subdirparent
endclass

class ProfilerMom Instrument
	organization	nspace
	maxsamples	100
	daysplit
endclass

class Profiler Instrument
	organization	1dgrid
	maxsamples	100
	daysplit
endclass

class RASS Instrument
	organization	1dgrid
	maxsamples	100
	daysplit
endclass

class Sounding Instrument
      	organization	scalar
	maxsamples	5000
	mobile
endclass

class Surface Instrument
      	organization	scalar
	filetype	netcdf
	maxsamples	720
endclass

!
! The whole ISS site, described with all of its subplatform instruments
!
class ISS Instrument
	subplat Sounding class
	subplat Profiler prof915h prof915l
	subplat RASS rass915
	subplat Surface surface_met
endclass

instance ISS iss1 iss3

!
! CLASS sites
!
class CLASS Sounding
	directory class
	instancedir subdirclass
endclass

!instance CLASS bel sud alg bea tim

class MobileCLASS CLASS
	directory class
	instancedir subdirclass
endclass

!instance MobileCLASS own

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
