! $Id: ds.config,v 1.1.1.1 1997-12-04 18:27:38 granger Exp $
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/net/sssf3/lake_ice"
endif

set LFileConst false
set LDirConst false
set CacheOnExit true

! Rescan every 5 minutes
every 300 'rescan all'

set DisableRemote true
set DFTableSize 5000
set DFTableGrow 1000
set PTableSize  100

!
! We don't want to create directories we may never use
!
set DelayDataDirs true

!
! ISS instrument class
!
class Instrument
	filetype	netcdf
	organization	nspace
	instancedir	subdirparent
endclass

class ProfilerMom Instrument
	organization	nspace
	maxsamples	100
	daysplit
endclass

class Profiler Instrument
	organization	1dgrid
	maxsamples	100
	daysplit
endclass

class RASS Instrument
	organization	1dgrid
	maxsamples	100
	daysplit
endclass

class Sounding Instrument
      	organization	scalar
	maxsamples	5000
	mobile
endclass

class Surface Instrument
      	organization	scalar
	filetype	netcdf
	maxsamples	720
endclass

!
! The whole ISS site, described with all of its subplatform instruments
!
class ISS Instrument
	subplat Sounding class
	subplat Profiler prof915h prof915l
	subplat RASS rass915
	subplat Surface surface_met
endclass

instance ISS iss1 iss2 iss3

! Test platform, until surface data available
!
!instance Surface test_s

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
