!
! ds configuration for BAMEX
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
endsource

!
! Archive source.  The /data/archive link can be moved to point to the 
! directory of interest, then run "dsrescan"
!
source archive
	directory /scr/data/archive
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! The radars
!
instance Sweepfile	spol particles precip.basic precip.hourly precip.storm refract_storm

!
! NEXRAD composite
!
instance NCGrid		radar_composite

!
! GOES
!
instance NCGrid	goes_1km goes_4km

!
! topographic data
!
instance NCGrid		elev

!
! boundaries
!
instance BoundaryClass	boundary

class BoundaryPlatInsert
        organization    outline
        filetype        zeb
        maxsamples      10
endclass
instance BoundaryPlatInsert jim1 jim2 jim3 jim4 jim5


!
! aircraft platforms
!
instance NCMobileScalar nrl_p3 noaa_p3 lear

!
! Cleanup code.
!

set SECONDSPERHOUR 3600

procedure DoCleanup hours real
	truncate hours*SECONDSPERHOUR radar_composite
	truncate 3*hours*SECONDSPERHOUR goes_1km
	truncate 3*hours*SECONDSPERHOUR goes_4km
endprocedure

set minfree 1000000

procedure CleanupScan	
	set hours 240
	while (FreeSpace (c$datadir) < minfree and hours > 48)
		DoCleanup hours
		set hours (hours - 6)
	endwhile
endprocedure

!every 600 'CleanupScan'
