!
! this section defines the protocols that we know about
!
!             name      ipcname    process and parameters
!
protocol      goes        sendg    "/u1/iss/bin/sendg -g 114 -i 120 -s 1 -n 6 -d /dev/ttyb -p 36431436 "
!
!
!-----------------------------------------------------------------------------
!
! this section defines the products to be sent.
!
!             name     platform    protocol   type     gen time    age limit
!
product omega_GTS     omega_GTS        goes    gts   000000-235959    010000
product omega         omega_ASAP       goes    asap  000000-235959    060000
product surf          surface_ASAP     goes    asap  000000-235959    060000
product prof          prof915h_ASAP    goes    asap  000000-235959    060000
product rass          rass915_ASAP     goes    asap  000000-235959    060000
!
!-----------------------------------------------------------------------------
!
! commands to execute on startup go here
!
run goes
