!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
pddir pd

set gpexec "/zeb/jc/gp"

!
! The graphics process initialization file.
!
set init_file "gp.init"

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...display configurations ...'
read DisplayConfigs
message '     ...color tables...'
read ColorTables
message '     ...the icon bar...'
read IconBar
display iss_init
message 'ready!'

procedure dotable window string table string
	parameter #window "base-mesonet" "color-table" #table
endprocedure


!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure


define command demotime 'time 05-mar-91,12'

set IsSounding false

procedure toggle_snd
	if (IsSounding)
		display picture
	else
		display pictures
	endif
	set IsSounding (not IsSounding)
endprocedure
