!
! Path to the data directory.
!
set datadir "/home/steam/kris/fest/festdata"

!
! Age off data from data store procedures
!
set HOUR 3600
set DAY  86400
set MINUTE 60
procedure cleanup
	every 2*HOUR "CleanupScan"
endprocedure

procedure DoTruncate fraction real
	truncate 30*fraction*DAY "rass915"
	truncate 30*fraction*DAY "prof915h"
	truncate 30*fraction*DAY "prof915l"
	truncate 30*fraction*DAY "omega"
	truncate 30*fraction*DAY "surface_met"
	truncate 5*fraction*DAY "omega_GTS"
	truncate 5*fraction*DAY "omega_ASAP"
	truncate 5*fraction*DAY "prof915h_ASAP"
	truncate 5*fraction*DAY "rass915_ASAP"
	truncate 5*fraction*DAY "surface_ASAP"
endprocedure

procedure ConserveDTEntries
! This procedure makes sure that the number of DTE's (2155) is not
! exceeded.
	truncate 10*DAY "rass915"
	truncate 10*DAY "prof915h"
	truncate 10*DAY "prof915l"
	truncate 10*DAY "omega"
	truncate 10*DAY "surface_met"
	truncate 6*HOUR "omega_GTS"
	truncate 6*HOUR "omega_ASAP"
	truncate 6*HOUR "prof915h_ASAP"
	truncate 6*HOUR "rass915_ASAP"
	truncate 6*HOUR "surface_ASAP"
endprocedure

procedure CleanupScan
	ConserveDTEntries
	local free FreeSpace("/zeb/naurudata")
	local fraction 1.0
	while ( free < 40000 and fraction > 0.1 )
	    DoTruncate fraction
	    local free FreeSpace("/zeb/naurudata")
	    local fraction (fraction/1.2)
	endwhile
endprocedure

!
! Observing systems platforms
!
platform prof915l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof915h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform rass915
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform omega
	organization	scalar
	filetype	netcdf
	discrete
	maxsamples	1000
	mobile
endplatform

platform surface_met
	organization	scalar
	filetype	netcdf
	discrete
	maxsamples	120
endplatform

!
! Data product platforms
!
platform omega_GTS
	organization	image
	filetype	raster
	discrete
	maxsamples	1
endplatform

platform prof915h_ASAP
	organization	image
	filetype	raster
	discrete
	maxsamples	1
endplatform

platform rass915_ASAP
	organization	image
	filetype	raster
	discrete
	maxsamples	1
endplatform

platform omega_ASAP
	organization	image
	filetype	raster
	discrete
	maxsamples	1
endplatform

platform surface_ASAP
	organization	image
	filetype	raster
	discrete
	maxsamples	1
endplatform

platform vptu
	organization	scalar
	filetype	zeb
	discrete
	maxsamples	1200
endplatform

read ds.profilers
