!
! 915 MHz profiler high mode
! uses a script to ingest into both prof915h and prof915h_ASAP
!
config prof915h file
	platform	prof915h
	movedir		/u1/platform/prof915/done_prof915h
	filename	/u1/platform/prof915/w*a.*
	process		/u1/iss/bin/prof915h_ingest $f
	interval	60
endconfig
!
! 915 MHz profiler low mode
!
config prof915l file
	platform	prof915l
	movedir		/u1/platform/prof915/done_prof915l
	filename	/u1/platform/prof915/w*b.*
	process		/u1/iss/bin/prof_ingest -p $p -f $f
	interval	60
endconfig
!
! 915 MHz RASS
! uses a script to ingest into both rass915 and rass915_ASAP
! 
config rass915 file
	platform	rass915
	movedir		/u1/platform/prof915/done_rass915
	filename	/u1/platform/prof915/t*
	process		/u1/iss/bin/rass915_ingest $f
	interval	60
endconfig
!
! surface met station
!
config surface_met continuous
	platform	surface_met
	process		/u1/iss/bin/cam_ingest -l /dev/ttyAd -b 9600 -z $p -f skip:pres:tdry:rh:wspd:wdir:year:jd:hhmm:secs:skip:vwspd:skip:wdev:sol:soldiff:netrad:rain:batt:tbox -d /u1/configs/nauru/campbell/nauru.dld -t -o /u1/platform/campbell/cr10data -w 40.0:-100.0:1500 -p
	restart
endconfig
!
! Omega sounding system
! Uses a script to ingest into both omega and omega_ASAP
!
config omega file
	platform	omega
	filename	/u1/platform/omega/x*
	movedir		/u1/platform/omega/done_10sec
	process		/u1/iss/bin/omega_ingest $f pres tdry dp rh u_wind v_wind wspd wdir 
	interval	60
endconfig
!
! Omega temp message data product for GTS
!
config omega_GTS file
	platform	omega_GTS
	filename	/u1/platform/omega/t*
	movedir		/u1/platform/omega/done_tempmsg
	process		/u1/iss/bin/trans_ingest -p $p -f $f
	interval	30
endconfig
!
! Surface met station data product for ASAP
!
config surface_ASAP continuous
	platform	surface_ASAP
	process		/u1/iss/bin/avgprod -i 10 -x 2 -s surface_met -d surface_ASAP -f pres -f tdry -f rh -v wspd:wdir -f sol -f soldiff -f netrad -f rain -f batt -f tbox
	restart
endconfig
!
define widget is menubar 'ingest scheduler'
   menu start start
      entry 'all' 'start all'
      entry 'surface met' 'start surface_met'
      entry 'omega' 'start omega'
      entry 'prof' 'start prof'
      entry 'rass' 'start rass'
   endmenu
   menu stop stop
      entry 'all' 'stop all'
      entry 'surface met' 'stop surface_met'
      entry 'omega' 'stop omega'
      entry 'prof' 'stop prof'
      entry 'rass' 'stop rass'
   endmenu
   menu list list
      entry 'all' 'list all'
      entry 'surface met' 'list surface_met'
      entry 'omega' 'list omega'
      entry 'prof' 'list prof'
      entry 'rass' 'list rass'
   endmenu
   menu exit exit
      entry 'exit' 'shutdown'
   endmenu
enddef

redirect /dev/console
!
start rass915
message 'started rass915'
!
start prof915h
message 'started prof915h'
!
start prof915l
message 'started prof915l'
!
start surface_met
message 'started surface_met'
!
start omega
message 'started omega'
start omega_GTS
message 'started omega_GTS'
start surface_ASAP
message 'started surface_ASAP'
