!
! ds configuration for STERAO
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! topographic data
!
instance NCGrid		elev

!
! boundaries
!
instance BoundaryClass	boundary
