!
! COARE data workshop configuration file.  Now uses classes and such.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/data2/vortex"
endif

!
! Class definitions
!
read ds.classes

!
! The following lines say:
!	- Files change on the disk
!	- Attempt to write cache files on exit
!
set LFileConst	false
set CacheOnExit true

!
! Anticipate a small to moderate number of files and platforms
!
set DisableRemote true
set DFTableSize	1000
set DFTableGrow 1000
set PTableSize  50

!
! Satellites
!
instance Satellite goes

!
! Aircraft time series data
!
instance ACTrack n43rf n308d

!
! Sounding platforms
!

! instance Sounding NONE

!
! Surface data
!
!platform sfcnet
!	organization	irgrid
!	filetype	netcdf
!	maxsamples	360
!	composite
!endplatform

!subplatform sfcnet	NONE

!
! GRIB format models
!

!instance GRIBModel	eta

!
! Separate platform(s) for model surface data
!
!platform eta_sfc
!	filetype	grib_sfc
!	organization	nspace
!! share directory (and files) with eta
!	directory	eta
!	model
!endplatform

!
! Gridded radar.
!
instance GriddedRadar	n43rf_lf

!
! WSI Nowrad data
!
platform nowrad
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! NEXRAD composite
!
instance NCGrid		radar_composite

!
! NEXRAD sweepfiles
!
instance Sweepfile	kfdr


!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
