!
! COARE data workshop configuration file.  Now uses classes and such.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/data2/vortex"
endif

!
! The following lines say:
!	- Files change on the disk
!	- Attempt to write cache files on exit
!
set LFileConst	false
set CacheOnExit true

!
! Anticipate a small to moderate number of files and platforms
!
set DisableRemote true
set DFTableSize	1000
set DFTableGrow 1000
set PTableSize  50

!
! Satellites
!
class Satellite
      	organization	image
	filetype	raster
	maxsamples	1
endclass

instance Satellite goes

!
! Aircraft time series data
!
class ACTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass

instance ACTrack n43rf n308d

!
! Sounding platforms
!
class Sounding
      	organization	scalar
	filetype	netcdf
	maxsamples	5000
	mobile
endclass

! instance Sounding NONE

!
! Surface data
!
!platform sfcnet
!	organization	irgrid
!	filetype	netcdf
!	maxsamples	360
!	composite
!endplatform

!subplatform sfcnet	NONE

!
! GRIB format models
!
class GRIBModel
	filetype	grib
	organization	nspace
	model
endclass

!instance GRIBModel	eta

!
! Separate platform(s) for model surface data
!
!platform eta_sfc
!	filetype	grib_sfc
!	organization	nspace
!! share directory (and files) with eta
!	directory	eta
!	model
!endplatform

!
! Gridded radar.
!
class GriddedRadar
      	filetype        netcdf
        organization    3dgrid
        mobile
endclass

instance GriddedRadar	n43rf_lf

!
! WSI Nowrad data
!
platform nowrad
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
