!
! ACE-1 data store configuration
!
! $Id: ds.config,v 1.1.1.1 1996-01-04 01:02:28 granger Exp $
!

if (getenv ("DATA_DIR") <> "UNDEFINED")
        set DataDir getenv("DATA_DIR")
else
        set DataDir "/data/ace1"
endif
message "Using data directory: #" #datadir

!
! The following lines say:
!	- Files change on the disk
!	- Attempt to write cache files on exit
!
set LFileConst	false
set CacheOnExit true
set DelayDataDirs true

!
! Anticipate a small to moderate number of files and platforms
!
set DisableRemote true
set DFTableSize	12000
set DFTableGrow 1000
set PTableSize  100

every 900 'rescan iss1/prof915h'
every 900 'rescan iss1/rass915'
every 900 'rescan iss4/prof915h'
every 900 'rescan iss4/rass915'

!----------------------------------------------------------------------
! Satellites
!
class SatelliteRaster
      	organization	image
	filetype	compressed_raster
	maxsamples	1
endclass

instance SatelliteRaster gms

class SatelliteHDF
	organization	2dgrid
	filetype	hdf
endclass

instance SatelliteHDF	n14r n14r4 n14rB

!----------------------------------------------------------------------
! ISS stuff.
!
! The ISSPlatform class specifies that each subplat directory
! will be a subdirectory of the parent: parentdir/<subplat name>.
! The class itself is abstract since it is incomplete and only
! its subclasses will be instantiated.  Since all ISS platforms will
! use netcdf, the inherit filetype from the class as well.
!
class ISSPlatform
        abstract
        instancedir     subdirparent
        filetype        netcdf
endclass ISSPlatform

class CLASS ISSPlatform
        organization    scalar
        mobile
endclass

class Profiler915 ISSPlatform
        organization    1dgrid
endclass

class Rass915 ISSPlatform
        organization    1dgrid
        discrete
endclass

class Surface ISSPlatform
        organization    scalar
        maxsamples      720
endclass

!
! A tracking platform.  Since it isn't mobile, locations will be
! taken from the first class sample, at the surface.  Explicitly
! shares the ISS site's class directory.  Basically this is an
! "immobile" version of the CLASS platform.
!
class Track ISSPlatform
	organization	scalar
	directory	class
endclass

!
! The class for ISS platform sites
!
class ISS
        virtual
        filetype        netcdf
        organization    scalar
        inheritdir      none
        instancedir     root
        subplats CLASS class
	subplats Track track
        subplats Profiler915 prof915h
        subplats Profiler915 prof915l
        subplats Rass915 rass915
        subplats Surface surface_met
endclass ISS

!
! Instantiate the ISS stations, for which each of the ISS subplatforms
! will also be instantiated.
!
instance ISS iss1 iss4

!-------------------------------------------------------------------------
! Aircraft time series data
!
class ACTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass

instance ACTrack c130

!-------------------------------------------------------------------------
! Ship tracks
!
class ShipTrack
	organization	scalar
	filetype	netcdf
	maxsample	1000
	mobile
endclass

!
! Sort of like aliases... force all instances of each type of ship
! to share the same directory, so we can use the l_ prefix (as in the
! enter position widget) to refer to the same files.
!
class Discoverer ShipTrack
	directory	discoverer
	instancedir	copyclass
endclass

class Surveyor ShipTrack
	directory	surveyor
	instancedir	copyclass
endclass

instance Discoverer discoverer l_discoverer 
instance Surveyor surveyor l_surveyor

!-------------------------------------------------------------------------
! The tracking balloon locations
!
! Alot like ship tracks above, since they'll be entered manually
!
class BalloonTrack
	organization	scalar
	filetype	netcdf
	maxsample	10
	mobile
	directory	balloon
	instancedir	copyclass
endclass

! Both will share their class' platform directory (balloon)
!
instance BalloonTrack balloon l_balloon

!-------------------------------------------------------------------------
! Sounding platforms
!
class Sounding
      	organization	scalar
	filetype	netcdf
	maxsamples	5000
	mobile
endclass

instance Sounding sounding/hobart sounding/adelaide sounding/laverton

!--------------------------------------------------------------------------
! Trajectory model data, one platform per starting location.
!
class Trajectory
	organization	nspace
	filetype	netcdf
	maxsample	400
	mobile
	instancedir	subdirparent
endclass

class TrajectoryLevel Trajectory
	abstract
	instancedir	root
endclass

!
! Bureau of Meteorology trajectory model.  3 levels: 0.5 km, 1.5 km, and
! 3.0 km.  Five initial points: -45/135, -50/130, -50/135, -50/140, -55/135.
!
class BOMTrajectoryLevel TrajectoryLevel
	subplats Trajectory 1 2 3 4 5
endclass

instance BOMTrajectoryLevel bom0.5km bom1.5km bom3.0km

!
! U. of Hawaii trajectory model.  3 levels: 0.5 km, 1.5 km, and
! 3.0 km.  Seven initial points.
!
class UHTrajectoryLevel TrajectoryLevel
	subplats Trajectory 1 2 3 4 5 6 7
endclass

instance UHTrajectoryLevel uh0.5km uh1.5km uh3.0km

!
! U. of Hawaii backward trajectory model.  3 levels: 0.5 km, 1.5 km, and
! 3.0 km.  Seven initial points.
!
instance UHTrajectoryLevel uhb0.5km uhb1.5km uhb3.0km

!-------------------------------------------------------------------------
! GRIB format models
!
class GRIBModel
	filetype	grib
	organization	nspace
	model
endclass

!instance GRIBModel	eta

!
! Separate platform(s) for model surface data
!
!platform eta_sfc
!	filetype	grib_sfc
!	organization	nspace
!! share directory (and files) with eta
!	directory	eta
!	model
!endplatform

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	netCDF
endplatform
