!
! Display manager configuration file.
!

!
! Set up path variables.
!

set CTablePath concat('colortables,',CTablePath)

!set MapPath concat('maps,',MapPath) !!! By default !!!

!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'

pddir pd
set libpd concat(c$libdir,'/pd')
pddir #libpd

!
! The graphics process initialization file.
!
set init_file concat(getenv("CONFIGHOME"), "/gp.init")

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...display configurations ...'
read DisplayConfigs
message '     ...the icon bar...'
read IconBar

!read dm.ef
!read dm.cf

set clock_exec "fccclock"

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure

!
! Reset a window to its default plot description.  Expects to be invoked
! from a graphics process.
!
procedure ResetWindow
	local pdname pd_param(dm$button_window,"global","pd-name","string")
	newpd dm$button_window pdname
endprocedure


!
! Stuff for the demo sounding stuff.  I'm not sure it's useful for anything,
! and should probably go away.
!
set IsSounding false

procedure toggle_snd
	if (IsSounding)
		display picture
	else
		display pictures
	endif
	set IsSounding (not IsSounding)
endprocedure

!
! Tweak some window system specific features.
!
!if (getenv("OPENWINHOME") <> "UNDEFINED")
!	set sleepafter	1
!	set sleepfor	5
!	set tbspace 25
!else	
	set sleepafter	4
	set sleepfor	1
	set tbspace 25
!endif

!
! Come up with an interesting display.
!
set SoundEnabled false
set ForceHistory true
set itime getenv("INITIAL_TIME")
if (itime <> "UNDEFINED")
	history all #itime
endif

!parameter defaults defaults file-path #filepath
!parameter defaults defaults post-proc-mode true

set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
display #config

!
!allow specific choose of config windows
! this appears to be obsolete now (STM 2-1-95)
!
!define widget pd-menu intmenu 'PD Templates'
!	title 'Select a Plot Description'
!	line
!	entry 'Search PD Directory' 'pddir pd'
!	line
!	entry 'uav-map'	'formtext #ui$form pdname "uav-map"'
!	entry 'uav-rad'	'formtext #ui$form pdname "uav-rad"'
!	entry 'uav-tddr'	'formtext #ui$form pdname "uav-tddr"'
!	entry 'uav-xy'	'formtext #ui$form pdname "uav-xy"'
!	entry 'tseries-template' 'formtext #ui$form pdname "tseries-template"'
!	entry 'skewt-template' 'formtext #ui$form pdname "skewt-template"' 
!	entry 'cap-template' 'formtext #ui$form pdname "cap-template"' 
!	entry 'wind-template' 'formtext #ui$form pdname "wind-template"'
!endmenu

!
! Stuff for window creation.
!
define widget cw_wintypes intmenu 'PD Templates'
       title 'Window types'
       line
       entry 'Constant Altitude Plot' 'cw_type "Constant altitude"'
       entry 'Skew-t' 'cw_type "Skew-t"'
       entry 'SGP Map' 'cw_type "sgp-map"'
       entry 'UAV TDDR' 'cw_type "uav-tddr"'
       entry 'UAV BB Radiometer' 'cw_type "uav-rad"'
       entry 'CHASE TDDR' 'cw_type "chase-tddr"'
       entry 'CHASE BB Radiometer' 'cw_type "chase-rad"'
       entry 'Time-Y' 'cw_type "t-y"'
       entry 'Alt-Y' 'cw_type "alt-y"'
       entry 'X-Alt' 'cw_type "x-alt"'
endmenu
procedure ProjectNewWindow type string
	set nw_pd type
	set nw_bmap 'big'
endprocedure
