!
! ds.config - configuration for MRC ARM-UAV data store
!

set datadir getenv("DATA_DIR")
!set CacheOnExit true
!set LDirConst false
!
!------------------------------------------------------------------------!
! 			Begin platform definitions			 !
!------------------------------------------------------------------------!

class MobileScalar
	organization	scalar
	filetype	netcdf
	mobile
	maxsamples	21600
endclass

instance MobileScalar uav-tm uav-gcs chase-tm chase-gcs

class Polyline
        filetype        zeb
        organization    outline
endclass

instance Polyline moa ifp

class SSP
        organization    nspace
        filetype        netcdf
	mobile
	maxsamples	3600
endclass
 
! SSP instance for ch1 (diffuse) ch2 (perp) ch3 (nfov) ch4 (parr)
instance SSP sspch1

class CDL
        organization    nspace
        filetype        netcdf
        mobile
	maxsamples	3600
endclass
 
instance CDL cdlpro
