
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
pddir pd

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...color tables...'
read ColorTables
message '     ...display configs...'
read DisplayConfigs
message '     ...the icon bar...'
read IconBar
message 'ready!'


!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure


!
! The platform list for the position entry widget.
!
define widget plats intmenu 'platforms'
	title 'Platforms'
	line
	entry 'goes'	'formtext #ui$form platform goes'
	entry 'goes-big'	'formtext #ui$form platform goes-big'
	entry 'adrad'	'formtext #ui$form platform adrad'
	entry 'nexrad-khou'	'formtext #ui$form platform nexrad-khou'
	entry 'nexrad-kmlb'	'formtext #ui$form platform nexrad-kmlb'
	entry 'lightning'	'formtext #ui$form platform lightning'
	entry 'texnet'	'formtext #ui$form platform texnet'
	entry 'nws-sounding'	'formtext #ui$form platform nws-sounding'
	entry 'ssmi'	'formtext #ui$form platform ssmi'
	entry 'raingauge'	'formtext #ui$form platform raingauge'
endmenu

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1
popup time 


!
! Come up with an interesting display.
!
set SoundEnabled true
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "adrad"
endif
display #config
