!
! Data store configuration file.
! custom for ctex zeb project 8/93
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/scr/stout/austin/zeb/data"
endif

set CacheOnExit true
set DisableRemote true
set host getenv("HOST")

!!!!start ctex zeb platforms

!big low resolution satellite images
platform goes-big
	organization	image
	filetype	raster
	maxsamples	1
endplatform

!smaller high resolution satellite images
platform goes
	organization	image
	filetype	raster
	maxsamples	1
endplatform

!ADRAD radar images from volumes
platform adrad
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!NEXRAD radar images from volumes from khou site
platform nexrad-khou
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!NEXRAD radar images from volumes from kmlb site
platform nexrad-kmlb
	organization	image
	filetype	raster
	maxsamples	50
endplatform

! lightning data files
platform wetnet
	mobile
	organization	scalar
	filetype	netCDF
	maxsamples	5000
endplatform

!SSM/I circumpolar satellite images
platform ssmi
	organization	image
	filetype	raster
	maxsamples	50
endplatform

! mesonet data files 
platform texnet
	organization	irgrid	
	filetype	netCDF
	maxsamples	360
	composite
endplatform

! raingauge data files
platform raingauge
	organization	irgrid	
	filetype	netCDF
	maxsamples	720
	composite
endplatform

! nws sounding files data files
platform nws_sound
	organization	scalar	
	filetype	netcdf
	maxsamples	1000
endplatform
