!
! THE generic network configuration file.
!

!
! What little is common between the machines goes here.
!
set ipscan 1

set displays "snowdrift donut icee blizzard frostbite icestorm sundog"
set datastore "whiteout"
set rasterizer "zero"
set mhr_rasterizer "drizzle"
set ac_ingest "frostbite"

!
! Assign unique sequence numbers to each machine to avoid confusion.
!
set seq_whiteout	1000
set seq_zero		100000
set seq_frostbite	200000
set seq_icee		300000
set seq_blizzard	400000
set seq_donut		500000
set seq_icestorm	600000
set seq_snowdrift	700000
set seq_sundog		800000
set seq_drizzle		900000

!
! Boundaries are entered locally onto each machine, and are collated by
! the data store.
!
send l_boundary as boundary #datastore
send l_spotlight as spotlight #datastore
send l_n312d-plan as n312d-plan #datastore
send l_n2uw-plan as n2uw-plan #datastore
send l_n43rf-plan as n43rf-plan #datastore
send l_n327uw-plan as n327uw-plan #datastore
send l_n709na-plan as n709na-plan #datastore
!
! Now branch out on the individual machines, for those which need
! extra stuff.
!
set machine getenv("HOST")

!
! Seq numbers.
!
set svname concat("seq_",machine)
if (defined (svname))
	set sequence #svname
else
	set sequence 99999
endif

if (machine = datastore)
	!
	! We're the data store, so we send just about everything to everybody.
	! Main exception is radar, which goes direct from rasterizer.
	!
	send mesonet to #displays
	send pampbl to #displays
	send boundary to #displays
	send spotlight to #displays
	send goes #displays
	send nowrad #displays
	send n312d to #displays
	send n2uw to #displays
	send n43rf to #displays
	send n327uw to #displays
	send n709na to #displays
	send n312d-plan to #displays
	send n2uw-plan to #displays
	send n43rf-plan to #displays
	send n327uw-plan to #displays
	send n709na-plan to #displays
	send p3 to #displays
	send slb to #displays
	send iow to #displays
	send ear to #displays
	send 3v1 to #displays
	send 62k to #displays
	send akz to #displays
	send irk to #displays
	send stl to #displays
	send hys to #displays
	send cou to #displays
	send hen to #displays
	send guy to #displays
!	set sequence 1000
	receive 3344			! The radar broadcast port.
	broadcast 128.117.210.0 3345	! Our broadcast port
!
! Rasterizer broadcasts out the radar and goes data to the world, 
! receives nothing.
!
else if (machine = rasterizer)
!	set sequence 5000
	set burst 20			! Play with this
	broadcast 128.117.210.0 3344
	send cp4 #displays #datastore
	dirimage cp4
	send goes #datastore
else if (machine = mhr_rasterizer)
!	set sequence 5000
	set burst 20
	broadcast 128.117.192.0 3346
	send mhr sundog 
	dirimage mhr
else	! Display machine
	if (machine = ac_ingest)
!		set sequence 100000
		send n312d to #datastore
		send n2uw to #datastore
		send n43rf to #datastore
		send n327uw to #datastore
		send n709na to #datastore
	endif
	receive 3344	! cp4 radar data
	receive 3345	! everything else
	receive 3346	! mhr data 
endif
