!
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
!if (getenv ("NO_DM_TIME") <> "yes")
!	message 'Popping up time control window....'
!	popup time
!endif
!message 'Loading:'
!message '     ...plot descriptions...'
pddir pd

!
! The graphics process initialization file.
!
set init_file concat(getenv("CONFIGHOME"), "/gp.init")

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
!message '     ...button maps...'
read ButtonMaps
!message '     ...display configurations ...'
read DisplayConfigs
!message '     ...color tables...'
read ColorTables
!message '     ...the icon bar...'
read IconBar
!message 'ready!'

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	1
set sleepfor	5

!
! Come up with an interesting display.
!
set filepath concat(getenv("ZEB_TOPDIR"), "/tmp")
parameter defaults defaults file-path #filepath
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
popup facilitymenu;
display #config
