!
! Data store configuration file.
!
! Platform parameters:
!	organization 	The expected organization of the data
!		3dgrid		three dimensional regular grid
!		2dgrid		two-dimensional regular grid
!		irgrid		two-dimensional irregular grid (PAM)
!		scalar		basic scalar point data
!		outline		Boundaries
!	filetype 	How this data is stored on the disk.  Only "netcdf"
!		 	for now; more later.
!			Later: "boundary" works too.
!	keep 		The minimum time period of data to keep on the disk if
!			at all possible.
!	maxsamples 	The maximum number of data samples to put into one
!		      	disk file.
!	mobile		Indicates that the data collection platform moves
!			through space.  For soundings, aircraft.
!	regular		This platform can be expected to return
!			regularly-spaced samples at the given interval.
!	composite	This "platform" is a grouping of several smaller
!			platforms.  Only irgrid platforms -- groupings of
!			stationary scalar platforms -- are supported now.
!	discrete	Observations are clumped together into discrete
!			chunks.  Used to select the optimal file organization.
!	directory	The directory in which to find data for this
!			platform.
!

!
! Path to the data directory.
!
set datadir concat(getenv("DATAHOME"), "/SDS/platforms")

! Set to cache upon a normal exit
set CacheOnExit true

! Set to cache every minute
every 60 'cache dirty'

! Clean excess NetCDF files 
!every 10 checkandclean

platform Dsgp915rwptempC1.b1
	organization	scalar
	filetype		netCDF
	maxsamples		24
	daysplit
endplatform

platform Dsgp915rwptempC1.a2
	organization	scalar
	filetype		netCDF
	maxsamples		24
	daysplit
endplatform

platform Dsgp915rwptempC1.a1
	organization	scalar
	filetype		netCDF
	maxsamples		132
	daysplit
endplatform

platform Dsgp915rwptempC1.a0
	organization	scalar
	filetype		netCDF
	maxsamples		132
	daysplit
endplatform

platform Dsgp915rwpwindC1.b1
	organization	scalar
	filetype		netCDF
	maxsamples		24
	daysplit
endplatform

platform Dsgp915rwpwindC1.a2
	organization	scalar
	filetype		netCDF
	maxsamples		24
	daysplit
endplatform

platform Dsgp915rwpwindC1.a1
	organization	scalar
	filetype		netCDF
	maxsamples		1008
	daysplit
endplatform

platform Dsgp915rwpwindC1.a0
	organization	scalar
	filetype		netCDF
	maxsamples		1008
	daysplit
endplatform

platform Dsgp5ebbrE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE26.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE26.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE26.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE26.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE26.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE8.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE8.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE20.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE20.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE22.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE22.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE22.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE22.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE22.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE7.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE7.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE7.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE7.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE7.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp5ebbrE12.a0
	organization	scalar
	filetype	netCDF
	maxsamples	144
	daysplit
endplatform

platform Dsgp15ebbrE12.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE12.a1
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp15ebbrE12.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30ebbrE12.a0
	organization	scalar
	filetype	netCDF
	maxsamples	24
	daysplit
endplatform

platform Dsgp1twr21xC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1twr21xC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30twr21xC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30twr21xC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440twr21xC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE13.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE99.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE99.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE99.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE99.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE99.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE9.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE8.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE8.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE8.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE20.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE20.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE20.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform Dsgp1smosE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp1smosE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform Dsgp30smosE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp30smosE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	48
	daysplit
endplatform

platform Dsgp1440smosE15.a0
	organization	scalar
	filetype	netCDF
	maxsamples	1
	daysplit
endplatform

platform DsgpbsrnC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform DsgpbsrnC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	720
	daysplit
endplatform

platform DsgpsirosopdepthE9.c1
	organization	scalar
	filetype	netCDF
	maxsamples	2
endplatform

platform DsgpsirosopdepthE13.c1
	organization	scalar
	filetype	netCDF
	maxsamples	2
endplatform

platform DsgpsirosopdepthE15.c1
	organization	scalar
	filetype	netCDF
	maxsamples	2
endplatform

platform DsgpsirosE9.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE9.b1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE13.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE13.b1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE15.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpsirosE15.b1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmfrsrN1.a0
	organization	irgrid
	filetype	netCDF
	maxsamples	2880	
	regular		15
	daysplit
endplatform

subplatform DsgpmfrsrN1.a0 1 2 3 4 5

platform DsgpsondeC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB5.a0
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpsondeB5.a1
	organization	scalar
	filetype	netCDF
	maxsamples	4000
	mobile
endplatform

platform DsgpmwrtipC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrtipC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrlosC1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosC1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrtipB1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrtipB1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrlosB1.a0
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB1.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrtipB4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrtipB4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrlosB4.a0
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB4.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrtipB5.a0
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrtipB5.a1
	organization	scalar
	filetype	netCDF
	maxsamples	6170
	daysplit
endplatform

platform DsgpmwrlosB5.a0
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB5.a1
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosC1.b2
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB1.b2
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB4.b2
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform

platform DsgpmwrlosB5.b2
	organization	scalar
	filetype	netCDF
	maxsamples	5760
	daysplit
endplatform
