!
! ds configuration for NAME04
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
endsource

!
! Source for the previous IOP.
!
source archive
	directory /scr/data/prev_iop
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! The radars
!
instance Sweepfile	spol particles precip.basic precip.hourly precip.storm refract_storm

!
! Campbell surface station near S-Pol
!
!instance NCScalar	spol_surface

!
! topographic data
!
instance NCGrid		elev

!
! boundaries
!
instance BoundaryClass	boundary

!
! aircraft platforms
!
instance NCMobileScalar center-point

!
! Cleanup code.
!

set SECONDSPERHOUR 3600

procedure DoCleanup hours real
	truncate hours*SECONDSPERHOUR spol
	truncate hours*SECONDSPERHOUR refract_storm
	truncate hours*SECONDSPERHOUR particles
	truncate hours*SECONDSPERHOUR precip.basic
	truncate 3*hours*SECONDSPERHOUR precip.hourly
	truncate hours*SECONDSPERHOUR precip.storm
	truncate hours*SECONDSPERHOUR radar_composite
	truncate 3*hours*SECONDSPERHOUR goes_1km
	truncate 3*hours*SECONDSPERHOUR goes_4km
endprocedure

set minfree 1000000

procedure CleanupScan	
	set hours 240
	while (FreeSpace (c$datadir) < minfree and hours > 3)
		DoCleanup hours
		set hours (hours - 6)
	endwhile
endprocedure

every 600 'CleanupScan'
