! $Id: dm.config,v 1.2 2000-06-06 22:57:31 granger Exp $
!
! Display manager configuration file.  Almost all configuration tailoring
! should now go into project.config!
!
read "project.config"


set DmModPath concat('./dm,',DmModPath)
set CTablePath concat('colortables,',CTablePath)

!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
read "dm/dm.pd"

message '     ...modules...'
require "init-config-path"

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...widgets...'
read "dm/dm.widgets"

message '     ...button maps...'
read "dm/ButtonMaps"

message '     ...display configurations ...'
read "dm/DisplayConfigs"

message '     ...the runtime icon bar...'
shell "IconBar.sh > tmp/IconBar"
read "tmp/IconBar"
shell "rm -f tmp/IconBar"
message 'Ready!'

!
! Come up with an interesting display.
!
if (Realtime)
	realtime all
endif
display #StartConfig

