! $Id: project.config,v 1.1 2000-06-06 22:57:32 granger Exp $
!
! This is UI code to cull specific configuration values from the environment,
! define some useful symbols for all UI source, like 'undefined', and set
! common UI variables for use by all UI configurations.
!
! It must be interpretable by ds, dm, is (ingest scheduler) and other UI
! programs, so it can only use basic UI statements.
!
! The *ideal* goal is that ALL environment and configuration variables used
! for a project are mentioned and adjusted in only this file, even if not
! all of the variables are used in every configuration file.

set undef "UNDEFINED"

if (getenv("ZEBRA_REALTIME") <> undef)
	set Realtime true
else
	set Realtime false
endif

if (getenv("ZEBRA_INGEST_ENABLED") <> undef)
	set IngestEnabled true
else
	set IngestEnabled false
endif

!
! Set the holding directory for runtime-configured files, such as the
! run-time generated IconBar
!
set RuntimePath getenv("ZEBRA_RUNTIME")

!
! If we are operating in the field as a particular site, we have a 
! Site, else Site equals undef.
!
set Site undef

!
! Collect our project names from the environment.
!
set Projects getenv("ISS_PROJECTS")

! Schedule processes which IS should start if realtime and at a site
! The project and site-specific config files can override this.
!
set StartSchedules "rass915 prof915h prof915l surface_met class platarch_prof platarch_class"

! ================================================================
! DataStore settings
!

! Path to the data directory.
!

! What will be used if not overridden during run-time by DATA_DIR
!
set DefaultDataDir getenv("DEFAULT_DATA_DIR")
if (DefaultDataDir = undef)
	set DataDir "/ds"
endif

set DataDir getenv("DATA_DIR")
if (DataDir = undef)
	set DataDir DefaultDataDir
endif

set DisableRemote true

set DataCleaning false
if (Realtime and IngestEnabled)
	set DataCleaning true
endif

set DefaultKeep (90*24*60)

set HOUR 3600
set DAY  86400
set MINUTE 60


! ================================================================
! Display settings
!

! Use the UI bitmap path to search for icons in both the project
! icons directory and the zebra library icon directory.
!
set ui$bitmap_path concat3("./icons,",c$libdir, "/icons")

set UseXHelp false
set mosaicpath "/usr/local/bin/netscape"

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	MIT X => 4,1
! For now, assume the differentiation is no longer needed and see
! what breaks.
!
set sleepafter	4
set sleepfor	1

set SoundEnabled false
set AutoAdvance true
set ForceHistory false

!
! DEFAULT_CONFIG sets the default config for an entire project.
! START_CONFIG sets the start-up config for a particular run session,
! which if not set defaults to DEFAULT_CONFIG, of all things.
!
set DefaultConfig getenv("DEFAULT_CONFIG")
if (DefaultConfig = undef)
	set DefaultConfig "empty"
endif
set StartConfig getenv("DM_START_CONFIG")
if (StartConfig = undef)
	set StartConfig DefaultConfig
endif

! ================================================================
! Project and site configs
!
! Now read in the project configs and allow them to override the
! above settings.  If a site has its own settings to add, it is up
! to the project to read that file.  We don't want to know about it
! here.
!

! set read "read "
! foreach proj #Projects
! 
! 	! Read the project's config
! 	set pdir concat3("projects/",proj,"/")
! 	set pconfig concat3(pdir,"","config")
! 	message "Reading config for project #..." proj
! 	#read #pconfig
! 
! endfor

