!
! ds configuration for NAME04
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! Load sources for IOPs.
!
read ds.sources

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! Satellite data
!
instance NCGrid		goes_1km goes_4km

!
! boundaries
!
instance BoundaryClass	boundary

!
! aircraft platforms
!
instance NCMobileScalar nrl_p3 noaa_42 noaa_43 noaa_49

!
! NOAA 42 & 43 LF composites
!
instance NCGrid		noaa_lf_composite

!
! Cleanup code.
!

set SECONDSPERHOUR 3600

procedure DoCleanup hours real
	truncate hours*SECONDSPERHOUR radar_composite
	truncate 3*hours*SECONDSPERHOUR goes_1km
	truncate 3*hours*SECONDSPERHOUR goes_4km
endprocedure

set minfree 1000000

procedure CleanupScan	
	set hours 240
	while (FreeSpace (c$datadir) < minfree and hours > 3)
		DoCleanup hours
		set hours (hours - 6)
	endwhile
endprocedure

! IOPs are cleaned out manually, this might accidentally clean out data
! from the current IOP
! every 600 'CleanupScan'
