! $Id: ds.config,v 1.1 1997-01-09 00:17:44 burghart Exp $
! Generic data store config file for just PAM data.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif


set LFileConst false
set CacheOnExit true

set DisableRemote true

!
! PAM-III
!
class Mesonet
	organization	IRgrid
	filetype	netcdf
	composite
endclass

instance Mesonet	pam
subplatform pam		1 2 3

instance Mesonet	pam_status
subplatform pam_status	1 2 3

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform
