!
! ds configuration for STEPS
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! The radars
!
instance Sweepfile	spol particles precip.basic precip.hourly precip.storm

!
! Bistatic winds, in "ddop" form
!
instance NC3DGrid	binet_gridded

!
! topographic data
!
instance NCGrid		elev

!
! boundaries
!
instance BoundaryClass	boundary

!
! Manually-entered aircraft positions
!
instance NCMobileScalar convairmanual

!
! Cleanup code.
!

set SECONDSPERHOUR 3600

procedure DoCleanup hours real
	truncate hours*SECONDSPERHOUR spol
	truncate hours*SECONDSPERHOUR particles
	truncate hours*SECONDSPERHOUR precip.basic
	truncate 3*hours*SECONDSPERHOUR precip.hourly
	truncate hours*SECONDSPERHOUR precip.storm
endprocedure

set minfree 1000000

procedure CleanupScan	
	set hours 24
	while (FreeSpace (c$datadir) < minfree and hours > 3)
		DoCleanup hours
		set hours (hours - 1)
	endwhile
endprocedure

every 600 'CleanupScan'
