!
! THE generic network configuration file.
!

read /zeb/lib/FieldDefs
!
! What little is common between the machines goes here.
!
set ipscan 1

set displays ""
set datastore "sundog"
set rasterizer "hurricane-jr"
set ac_ingest "sundog"

!
! Assign unique sequence numbers to each machine to avoid confusion.
!
set seq_sundog		1000
set seq_hurricane	100000

!
! Now branch out on the individual machines, for those which need
! extra stuff.
!
set machine getenv("HOST")

!
! Seq numbers.
!
set svname concat("seq_",machine)
if (defined (svname))
	set sequence #svname
else
	set sequence 99999
endif

!
! We're the data store.  (Normally we would send all data out to displays
! but in this case there are no displays.
!
if (machine = datastore)
	receive 3344			! The radar broadcast port.
	broadcast 128.117.210.0 3345	! Our broadcast port
!
! Rasterizer broadcasts out the radar and goes data to the world, 
! receives nothing.
!
else if (machine = rasterizer)
	set burst 20			! Play with this
	broadcast 128.117.192.0 3344
	send mhr #displays #datastore
	dirimage mhr
	send goes #datastore
else	! Display machine
	if (machine = ac_ingest)
		send n312d to #datastore
		send n2uw to #datastore
		send n43rf to #datastore
		send n327uw to #datastore
		send n709na to #datastore
	endif
	receive 3344	! mhr radar data
	receive 3345	! everything else
endif
