! $Id: ds.config,v 1.2 1997-10-03 23:21:28 burghart Exp $
! Data store config file for SCMS.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif


set LFileConst false
set CacheOnExit true

set DisableRemote true


!
! Radar data
!
class Radar
	organization	image
	filetype	compressed_raster
	maxsamples	50	! Lotsa RHI's
endclass
instance Radar cp2

platform cp2-az-limits
	organization	scalar
	filetype	netcdf
	maxsamples	100
endplatform

!
! Gridded radar
!
class RadarGrid
	organization	3dgrid
	filetype	netcdf
	maxsamples	1
endclass
instance RadarGrid	cp2_gridded

!
! Aircraft
!
class ACTrack
	organization	scalar
	filetype	zeb
	mobile
	maxsamples	500
endclass
instance ACTrack	c130 kingair merlin test1 test2
!
! PAMIII
!
class Mesonet
	organization	IRgrid
	filetype	netcdf
	composite
endclass

instance Mesonet	pam
subplatform pam		1 2 3

instance Mesonet	pam_status
subplatform pam_status	1 2 3

!
! GOES stuff (1km vis, and 4km others)
!
class GOES_plat
	organization	image
	filetype	compressed_raster
	maxsamples	1
endclass
instance GOES_plat	goes_vis goes_other

!
! ISS
!
platform prof915l
        organization    1dgrid
        filetype        netcdf
        maxsamples      100
        daysplit
endplatform

platform prof915h
        organization    1dgrid
        filetype        netcdf
        maxsamples      100
        daysplit
endplatform

platform rass915
        organization    1dgrid
        filetype        netcdf
        maxsamples      100
        daysplit
endplatform

platform class
        organization    scalar
        filetype        netcdf
        maxsamples      5000
        mobile
endplatform

platform surface_met
	organization	scalar
	filetype	netcdf
	daysplit
endplatform

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform


!
! Cleanup
!
procedure CleanupScan
	local nhours 24
	while ((FreeSpace("/net/scmsdata") < 1000000) and (nhours >= 0))
		truncate (3600 * nhours) cp2
		truncate (3600 * nhours) cp2_gridded
		set nhours (nhours-1)
	endwhile

	if (FreeSpace ("/net/scmsdata") < 1000000) then
		message "Less than 0.5 GB free, even after cleanup!"
	endif
endprocedure

procedure cleanup
	every 3600 CleanupScan
endprocedure
