!
! Parameters to read in SCMS CP2 data.
!
set platform "cp2"
set radar_lat 28.7550
set radar_lon -80.7739

!
! Default to a fine-scale grid
!
read radarFine.config

set gmt_offset 0
set minimum_sweep 100
set ui$pager_mode false
set nframes 2

!
! fine tuning
!
set el_tolerance 2.0

!
! Set the format of the radar to CP2.
!
format cp2
!
! This line sets up a shared-memory "beam buffer" to funnel the data
! over to sprint.  Params are (1) the IPC "key" used to find the shm
! segment and semaphore.  Can be anything as long as sprint agrees.
! (2) The maximum beam size.  (3) The number of beams to buffered.
! Smaller numbers give a smaller SHM segment, but it has to be big enough
! not to overflow when sprint does its ds_Store call...
!
beambuf 12345 10000 20
!
! "dumprhi" is a kludge which stores the observed RHI azimuth limits
! to the given platform. (Leave this out for now, since we run into 
! data store contention problems waiting for SPRINT to write out huge 
! volumes...)
!
! dumprhi cp2-az-limits

set forcerealtime false

!
! The real thing, straight from the radar...
!
source interface le0

!
! ...or from tape.  Use beamdelay to slow things down to a more realistic
! beam rate.
!
! source file '/dev/rmt/0mbn'
! set beamdelay 0.05

!
! CP2 fields.  Currently can handle velocity, reflectivity, xrefl, zdr,
! and sminusx (differential reflectivity).  The "offset" number needs to
! be present but is not used.
!
field 'velocity' 0
field 'reflectivity' 1
field 'sminusx' 2
field 'xrefl' 3
field 'zdr' 4

!
set niceness 10
!
! CP2 still thresholds on basic power.  Offset is not used.
!
threshold offset 5 threshold 4

!
! 7/5/95 S-band cal
!
calibration sband
	pair	255 -32.7
	pair	227 -32.7
	pair	218 -37.7
	pair	203 -42.7
	pair	191 -47.7
	pair	178 -52.7
	pair	164 -57.7
	pair	151 -62.7
	pair	138 -67.7
	pair	124 -72.7
	pair	111 -77.7
	pair	 97 -82.7
	pair	 85 -87.7
	pair	 72 -92.7
	pair	 60 -97.7
	pair	 47 -102.7
	pair	 36 -107.7
	pair	 27 -112.7
	pair	 22 -117.7
	pair	 20 -122.7
	pair	 18 -127.7
	pair	 17 -132.7
	pair	  1 -132.7
endcal

!
! 7/5/95 X-band cal
!
calibration xband
	pair	255 -27.6
	pair	224 -27.6
	pair	215 -32.6
	pair	211 -37.6
	pair	200 -42.6
	pair	186 -47.6
	pair	172 -52.6
	pair	159 -57.6
	pair	146 -62.6
	pair	133 -67.6
	pair	120 -72.6
	pair	106 -77.6
	pair	 93 -82.6
	pair	 79 -87.6
	pair	 65 -92.6
	pair	 51 -97.6
	pair	 37 -102.6
	pair	 25 -107.6
	pair	 15 -112.6
	pair	 10 -117.6
	pair	  9 -122.6
	pair	  8 -127.6
	pair	  1 -127.6
endcal

set azimuth_fill 0.8
consumer ds_consumer cp2
! consumer NetXfr nx.cp4
