#
# This is a csh source file which the Zeb startup scripts source
# to get environment settings and the like for the LANTEX project
#
	echo "Config file: $ZEB_CONFIG"
	setenv ZEB_TOPDIR /scr/steam/granger/zeb
	setenv ZEB_PROJECT $ZEB_TOPDIR/project/hongkong
	setenv ZEB_PRINTER_NAME lp
#	setenv ZEB_XWD2PS_PATH "$ZEB_TOPDIR/bin/xwd2ps -p A4"
	setenv ZEB_XWD2PS_PATH "xwd2ps"
	setenv HOST `hostname`
#
# The host which runs the datastore
#
	setenv ZEB_DATASTORE $HOST
	setenv DATA_DIR /scr/steam/hongkong
#
# The host which runs the ingest processes
#
	setenv ZEB_INGEST none
#
	unsetenv LD_LIBRARY_PATH
	setenv XAPPLRESDIR $ZEB_TOPDIR/lib/resources
	setenv PATH $ZEB_TOPDIR/bin:$ZEB_PROJECT/bin:${PATH}
	setenv ZEB_LOGFILE $ZEB_PROJECT/log/zeb.logfile
	setenv DEFAULT_CONFIG empty
	setenv START_EVENTLOGGER
	setenv ZEB_INHIBIT_CLEANUP
#
# Only set DS_DAEMON_HOST if we are not hosting the DataStore daemon,
# else I think it messes up the message handler
#
	if ($HOST == $ZEB_DATASTORE) then
		unsetenv DS_DAEMON_HOST
		echo "Local DataStore"
	else
		setenv DS_DAEMON_HOST $ZEB_DATASTORE
		echo "Zeb DataStore on $DS_DAEMON_HOST"
	endif
	setenv DS_INGEST_HOST $ZEB_INGEST
#
# Formerly unbeknownst to me, the message handler won't create an inet
# connection is ZEB_SOCKET is set, so make sure it isn't set
#
	unsetenv ZEB_SOCKET
	echo "Project directory: $ZEB_PROJECT"
	cd $ZEB_PROJECT
