!
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
message 'Loading:'

message '     ...plot descriptions...'
!
! Retrieve the library plot descriptions.  The library pd's must be
! read here because they are modified in IconBar.  Do them before 
! the project pd dir so that the project pd's override the library.
!
set pdlib concat(c$libdir,"/pd")
pddir #pdlib
pddir "pd"

set ConfigDir "dconfig"
set ConfigPD "dconfig/pd"
set configdir "dconfig"
set configpd "dconfig/pd"
pddir #ConfigPD

!
! Once we've read our plot descriptions, we need to adjust some
! defaults parameters
!
set cachedir concat(c$projdir,"/cache")
parameter defaults defaults file-path #cachedir

!
! Required by the newwindow operation
!
set default_exec "gp"
set default_arg1 "gp.init"

!
! A backup saved menu
!
define widget saved-config-menu intmenu 'saved configurations'
	title 'Saved Configurations'
	line
	entry 'Empty' 'display empty' (dm$config = 'empty')
endmenu

!procedure update-config-menu
!	shell concat3("makecfgmenu ",ConfigDir," ConfigMenu")
!	delete menu saved-config-menu
!	read ConfigMenu
!endprocedure

message '     ...saved config menu...'
shell concat3("makecfgmenu ",ConfigDir," ConfigMenu")
read ConfigMenu
!update-config-menu

set ctablepath concat3(c$projdir,"/colortables,",ctablepath)

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...display configs...'
read DisplayConfigs
message '     ...the icon bar...'
read IconBar
message '     ...ISS active areas...'
read dm.iss
message '     ...sounding active areas...'
read dm.sounding
message 'ready!'

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	2
set sleepfor	4

!
! Come up with an interesting display.
!
set SoundEnabled true
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
!display #config
display empty
