!----------------------------------------------------------------
! Data store configuration file.
!----------------------------------------------------------------
! $Id: ds.config,v 1.7 1996-02-02 19:54:20 granger Exp $

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/zeb/data_store/hongkong"
endif

set CacheOnExit true
set DisableRemote true
set host getenv("HOST")

!
! Set some table sizes to match our small number of platforms
!
set CTableSize 25
set CTableGrow 25
set PTableSize 100
set PTableGrow 25
set DFTableSize 4000
set DFTableGrow 1000

!
! Rescan all of our platforms every 5 minutes
!
!every 300 "rescan all"

!
! AWS stations. 
!
platform aws
	organization	irgrid
	filetype	netcdf
	maxsamples	2000
	daysplit
	composite
endplatform

subplatform aws LT1 LT2 LT3 LT4 LT5 LT6 CLK UST RO SHA HIT HMZ LFS
subplatform aws TKL CPH TUN TMS TC SF CSW HKS UW1 GI TPO JKB CCH CEN
subplatform aws KP SHL PLC KAT EPC SLW SKG WCN TAP LT9

!
! Lidar
!
platform lidar
	organization	3dgrid
	filetype	zeb
	maxsamples	10
endplatform

!
! Synoptic analysis
!
platform ro_synoptic
	organization	2dgrid
	filetype	zeb
	maxsamples	10
endplatform

!
! RO Radar
!
platform ro_radar
	organization	image
	filetype	raster
	maxsamples	10
endplatform

!
! RO Satellite
!
platform ro_sat
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! Aircraft
!
platform kingair
	organization	scalar
	filetype	zeb
	maxsamples	1000
	mobile
endplatform

!----------------------------------------------------------------------
! ISS stuff.
!
! The ISSPlatform class specifies that each subplat directory
! will be a subdirectory of the parent: parentdir/<subplat name>.
! The class itself is abstract since it is incomplete and only
! its subclasses will be instantiated.  Since all ISS platforms will
! use netcdf, the inherit filetype from the class as well.
!
class ISSPlatform
	abstract
	instancedir	subdirparent
	filetype 	netcdf
endclass ISSPlatform

class CLASS ISSPlatform
	organization    scalar
	mobile
endclass

class Profiler915 ISSPlatform
	organization	1dgrid
endclass

class Rass915 ISSPlatform
	organization	1dgrid
	discrete
endclass

class Surface ISSPlatform
	organization	scalar
	maxsamples	720
endclass

!
! The class for ISS platform sites
!
class ISS
	virtual
	filetype	netcdf
	organization	scalar
	inheritdir	none
	instancedir	root
	subplats CLASS class
	subplats Profiler915 prof915h
	subplats Profiler915 prof915l
	subplats Rass915 rass915
	subplats Surface surface_met
endclass ISS

!
! Instantiate the ISS stations, for which each of the ISS subplatforms
! will also be instantiated.
!
instance ISS iss

!-----------------------------------------------------------------
! The profiler at Sha Lo Wan
!
! High - long pulse
!
platform shalowan/profh
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform
!
! Medium - medium pulse
!
platform shalowan/profm
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform
!
! Low - short pulse
!
platform shalowan/profl
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform
!
! RASS temperature profiles
!
platform shalowan/rass
	organization	1dgrid
	filetype	netcdf
	maxsamples	1000
endplatform

!-----------------------------------------------------------------
! The profiler at HKUST Pump House (formerly Sha Lo Wan)
! The directories point to the Shalowan platforms to set up
! a simple alias.
!
! High - long pulse
!
!platform pumphouse/profh
!	organization	1dgrid
!	filetype	netcdf
!	maxsamples	1000
!	directory	shalowan/profh
!endplatform
!!
!! Medium - medium pulse
!!
!platform pumphouse/profm
!	organization	1dgrid
!	filetype	netcdf
!	maxsamples	1000
!	directory	shalowan/profm
!endplatform
!!
!! Low - short pulse
!!
!platform pumphouse/profl
!	organization	1dgrid
!	filetype	netcdf
!	maxsamples	1000
!	directory	shalowan/profl
!endplatform
!!
!! RASS temperature profiles
!!
!platform pumphouse/rass
!	organization	1dgrid
!	filetype	netcdf
!	maxsamples	1000
!	directory	shalowan/rass
!endplatform

!-----------------------------------------------------------------
! Sounding sites
!
class Sounding
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endclass Sounding

instance Sounding ro_hk_sdg chenzhou_sdg ganzhou_sdg wuzhou_sdg
instance Sounding guangzhou_sdg shantou_sdg xisha_sdg taipei_sdg

!-------------------------------------------------------------
! Cleanup code.
!
!
! set keep params - 2 weeks
!
set DefaultKeep (14*24*60)

set HOUR 3600	! seconds/hour
set MINUTE 60
set DAY 24*HOUR
set WEEK 7*DAY

set CleanEnabled false

!
! Cleanup gets called once when the daemon fires up.
!
procedure cleanup
!
! Just make sure we are who we are supposed to be before we go off
! removing data.
!
	if (host = "owsu1")
		if (getenv ("ZEB_INHIBIT_CLEANUP") <> "UNDEFINED")
			set CleanEnabled false
			message 'Cleaning DISABLED on owsu1'
		else
			set CleanEnabled true
			message 'Cleaning ENABLED on owsu1, 12 hour cycle'
			every 12*HOUR 'CleanupScan'
		endif
	else
		set CleanEnabled false
		message "DataStore cleaning disabled for this host"
	endif
endprocedure

!
! Allow debugging without truncating
!
procedure cleanplat seconds integer plat string
	if (CleanEnabled = false)
		message "truncate # #" seconds plat
	else
		truncate seconds #plat
	endif
endprocedure

!
! The cleanup code for LANTEX.
!
procedure DoTruncate fraction real

	if (CleanEnabled = false)
		message "DoTruncate: cleaning disabled"
		message "truncate commands will not be executed"
	endif
	!
	! AWS
	!
	cleanplat 	fraction*14*DAY		"aws"
	!
	! LIDAR
	!
	cleanplat	fraction*14*DAY		"lidar"
	!
	! Synoptic
	!
	cleanplat	fraction*14*DAY		"ro_synoptic"
	!
	! RO Radar
	!
	cleanplat	fraction*14*DAY		"ro_radar"
	!
	! Satellite
	!
	cleanplat	fraction*14*DAY		"ro_sat"
	!
	! Soundings
	!
	cleanplat	fraction*14*DAY		"ro_hk_sdg"
	cleanplat	fraction*14*DAY		"chenzhou_sdg"
	cleanplat	fraction*14*DAY		"ganzhou_sdg"
	cleanplat	fraction*14*DAY		"wuzhou_sdg"
	cleanplat	fraction*14*DAY		"guangzhou_sdg"
	cleanplat	fraction*14*DAY		"shantou_sdg"
	cleanplat	fraction*14*DAY		"xisha_sdg"
	cleanplat	fraction*14*DAY		"taipei_sdg"
	!
	! King Air
	!
	cleanplat	fraction*14*DAY		"kingair"
	!
	! Waglan ISS
	!
	cleanplat	fraction*14*DAY		"iss/omega"
	cleanplat	fraction*14*DAY		"iss/prof915h"
	cleanplat	fraction*14*DAY		"iss/prof915l"
	cleanplat	fraction*14*DAY		"iss/rass915"
	cleanplat	fraction*14*DAY		"iss/surface_met"
	!
	! Lantau profiler
	!
	cleanplat	fraction*14*DAY		"lantau/prof"
	!
endprocedure

procedure CleanupScan
!
! If we have lots of free space, don't even bother.
!
	local free FreeSpace(DataDir)
	if (free > 200000)
		message "CleanupScan: more than 200 Mb remaining"
		return
	endif
!
! Otherwise we start tightening the screws.
!
	message "CleanupScan: truncating platforms to keep times"
	DoTruncate 1.0
	set free FreeSpace(DataDir)
	if (free < 100000)
		message "CleanupScan: less than 100 Mb remaining"
		message "CleanupScan: truncating 30% of keep time"
		DoTruncate 0.7
	endif
	set free FreeSpace(DataDir)
	if (free < 100000)
		message "CleanupScan: truncating 50% of keep time"
		DoTruncate 0.5
	endif
	set free FreeSpace(DataDir)
	if (free < 100000)
		message "CleanupScan: truncating 70% of keep time"
		DoTruncate 0.3
	endif
	set free FreeSpace(DataDir)
	if (free < 100000)
		message "WARNING: still less than 100 Mb available"
	endif
endprocedure
