!
! Hong Kong project net transfer configurations.
!

!
! Read in the field definitions file.
!
set DefFile (concat (concat (c$libdir, "/"), "FieldDefs"))
read #DefFile 

!
! What little is common between the machines goes here.  
! (Suppose for now that anteater is the display machine and babinet is
! where all data is being ingested.)
!
set ipscan 1
set displays 'anteater'
set datastore 'anteater'

!
! Collection of position info.
! (Hand entered locations and boundaries; currently none.)
!
!send l_n308d as n308d #datastore

!
! Now branch out on the individual machines, for those which need
! extra stuff.
!
set machine getenv("HOST")


if (machine = #datastore)
	!
	! We're the data store, so we send just about everything to everybody.
	!
	send satellite to #displays
	send lidar to #displays
	send aws to #displays
	send kingair to #displays
	send iss/omega to #displays
	send iss/prof to #displays
	send iss/omega to #displays
	send iss/rass to #displays
	send lantau/prof to #displays
	broadcast 134.178.201.0 3345	! Our broadcast port
else
	!
	! Otherwise we're a display, so just sit here and receive stuff.
	!
	receive 3345
endif
