#
# This is a csh source file which the Zeb startup scripts source
# to get environment settings and the like for the LANTEX project
#
	echo "Config file: $ZEB_CONFIG"
	setenv ZEB_TOPDIR /zeb
	setenv ZEB_PROJECT /zeb/project/hongkong-working
	setenv ZEB_PRINTER_NAME owl1
	setenv ZEB_XWD2PS_PATH "$ZEB_TOPDIR/bin/xwd2ps -p A4"
#	setenv ZEB_SOCKET /tmp/zeb.working.socket
	unsetenv ZEB_SOCKET
	setenv ZEB_INHIBIT_CLEANUP
	setenv HOST `hostname`
#
# Explicitly set some executable paths
#
	setenv ZEB_DM /zeb/src/dm/dm
#
# The host which runs the datastore, when running under ZEB_SOCKET
# we must run one on this host
#
	setenv ZEB_DATASTORE owsu1
#
# The host which runs the ingest processes
#
	setenv ZEB_INGEST none
#
	unsetenv LD_LIBRARY_PATH
	setenv XAPPLRESDIR $ZEB_TOPDIR/lib/resources
	setenv PATH $ZEB_TOPDIR/bin:$ZEB_PROJECT/bin:${PATH}
	setenv ZEB_LOGFILE $ZEB_PROJECT/log/zeb.logfile
	setenv DEFAULT_CONFIG empty
#
# Only set DS_DAEMON_HOST if we are not hosting the DataStore daemon,
# else I think it messes up the message handler
#
	if ($HOST == $ZEB_DATASTORE) then
		unsetenv DS_DAEMON_HOST
		echo "Local DataStore"
	else
		setenv DS_DAEMON_HOST $ZEB_DATASTORE
		echo "Zeb DataStore on $DS_DAEMON_HOST"
	endif
	setenv DS_INGEST_HOST $ZEB_INGEST
	echo "Project directory: $ZEB_PROJECT"
	cd $ZEB_PROJECT
