!
! Display manager configuration file.
!
message 'Loading:'

!
! Load in our plot descriptions.
!
message '     ...plot descriptions...'
set libpddir concat(c$libdir,'/pd')
pddir #libpddir
pddir pd

!
! Get our display configurations
!
message '     ...display configurations...'
set ConfigDir concat(c$basedir, "/project/stout/dconfig")

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps

message '     ...the icon bar...'
read IconBar
message 'ready!'

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure

!
! When and how long to sleep when creating windows and the amount to use
! when adjusting window sizes to allow for for title bars.
!
! OpenWindows => 1, 5, 25	X => 4, 1, 0
!
set sleepafter	4
set sleepfor	1
set tbspace	0

!
! Come up with an interesting display.
!
set SoundEnabled false

parameter defaults defaults file-path /usr/tmp

set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "tseries"
endif
display #config
