!
! Simple configuration
!
set CacheOnExit false
set LFileConst false

! Since we are not being notified of new data by the controlling daemon
!
every 600 'rescan all'

platform fl
	filetype 	netcdf
	organization	scalar
	directory '/scr/steam/weather/fl'
endplatform

platform mr
	filetype 	netcdf
	organization	scalar
	directory '/scr/alt/weather/mr'
endplatform
