!
! ds configuration for IHOP
!

!
! elev data lives under the project directory
!
set elevdir concat(c$projdir,"/elev")

!
! In real-time, use special directories for spol and particles where 
! only a subset of all RHIs is presented to Zebra.
!
if (getenv("ZEBRA_REALTIME") <> "UNDEFINED")
	set spolSubset concat(c$datadir,"/spol_subset")
	set particlesSubset concat(c$datadir,"/particles_subset")
else
	set spolSubset "spol"
	set particlesSubset "particles"
endif

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir elev #elevdir
	PlatDir spol #spolSubset
	PlatDir particles #particlesSubset
endsource

!
! Archive source.  The /data/archive link can be moved to point to the 
! directory of interest, then run "dsrescan"
!
source archive
	directory /scr/data/archive
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! The radars
!
instance Sweepfile	spol particles precip.basic precip.hourly precip.storm refract_storm

!
! NWS + S-Pol composite
!
instance NCGrid		radar_composite

!
! GOES
!
instance NCGrid		goes_1km goes_4km

!
! Volumes of gridded sweeps of NWS level 2 data
!
!instance NCGrid	KAMA KDDC KFDR KFTG KFWS KGLD KICT KINX KLBB KTLX KVNX

!
! Campbell surface station near S-Pol
!
instance NCScalar	spol_surface

!
! 15-minute mesonet, including Oklahoma Mesonet
!
instance Mesonet	mesonet_15

subplatform mesonet_15	ACME ADAX ALTU ALV2 ANTL AP005 AP046 AP065
subplatform mesonet_15	AP076 AP096 AP143 AP225 AP227 AP228 AP229 AP230
subplatform mesonet_15	AP272 AP391 AP426 APAC ARDM ARNE AW024 BBOW
subplatform mesonet_15	BEAV BEEX BESS BIXB BLAC BOIS BOWL BREC
subplatform mesonet_15	BRIS BUFF BURB BURN BUTL BYAR C0062 C0115
subplatform mesonet_15	C0144 C0162 C0180 CALV CAMA CENT CHAN CHER
subplatform mesonet_15	CHEY CHIC CLAR CLAY CLOU COOK COPA CPPN5
subplatform mesonet_15	DQUA4 DURA ELRE ERIC EUFA F1592 FAIR FORA
subplatform mesonet_15	FREE FTCB GDAC2 GLMT2 GOOD GRA2 GUTH HASK
subplatform mesonet_15	HBRK1 HECT HINT HKLO2 HOBA HOLL HOOK HUGO
subplatform mesonet_15	HVLK1 IDAB INOL JAYX JTNT2 K1BSP K1EGN K5ADT
subplatform mesonet_15	K5BCR K5BRP K5CHE K5CHN K5CNC K5CNE K5COO K5ED7
subplatform mesonet_15	K5EHT K5ELW K5EUR K5FVW K5GAR K5HJN K5JCT K5KIO
subplatform mesonet_15	K5LEA K5MAN K5MCP K5NES K5NIC K5OK7 K5PTT K5SCT
subplatform mesonet_15	K5SLN K5TPK K5TRY K5WKR K5WKY K5WLC KENT KETC
subplatform mesonet_15	KHOX KIDL KING KSYF KTRB LAHO LANE LMNO2
subplatform mesonet_15	LTHM7 MADI MANG MARE MARS MAYR MCAL MEDF
subplatform mesonet_15	MEDI MIAM MINC MPAN5 MTHE NDS1 NEWK NINN
subplatform mesonet_15	NORM NOWA OILT OKEM OKMU PAUL PAWN PERK
subplatform mesonet_15	PORT PRYO PUTN REDR RETR RING SALL SEIL
subplatform mesonet_15	SHAW SKIA SLAP SPEN STIG STIL STUA SULP
subplatform mesonet_15	SUM1 TAHL TALI TCUN5 TIPT TISH TR479 TR484
subplatform mesonet_15	VANO VCIO2 VINI WALT WASH WATO WAUR WEAT
subplatform mesonet_15	WEBB WEST WILB WIST WOOD WYNO

!!
!! 20-minute mesonet
!!
!instance Mesonet	mesonet_20
!
!subplatform mesonet_20	K1F0 KADH KAQR KAVK KCHK KCQB KDUC KEHA
!subplatform mesonet_20	KFTW KGLE KGMJ KIXD KJLN KLWC KMCI KOKM
!subplatform mesonet_20	KOUN KPRX KPVJ KRKR KROG KSLG KSNL KSWO
!subplatform mesonet_20	KTKI KTQH

!
! topographic data
!
instance NCGrid		elev

!
! boundaries
!
instance BoundaryClass	boundary

!
! aircraft platforms
!
instance NCMobileScalar p3 kingair dc8 center-point

!
! Cleanup code.
!

set SECONDSPERHOUR 3600

procedure DoCleanup hours real
	truncate hours*SECONDSPERHOUR spol
	truncate hours*SECONDSPERHOUR refract_storm
	truncate hours*SECONDSPERHOUR particles
	truncate hours*SECONDSPERHOUR precip.basic
	truncate 3*hours*SECONDSPERHOUR precip.hourly
	truncate hours*SECONDSPERHOUR precip.storm
	truncate hours*SECONDSPERHOUR radar_composite
	truncate 3*hours*SECONDSPERHOUR goes_1km
	truncate 3*hours*SECONDSPERHOUR goes_4km
endprocedure

set minfree 1000000

procedure CleanupScan	
	set hours 240
	while (FreeSpace (c$datadir) < minfree and hours > 3)
		DoCleanup hours
		set hours (hours - 6)
	endwhile
endprocedure

every 600 'CleanupScan'
