/* -*- C -*-
 * $Id: config.h.dist,v 1.2 1997-06-02 22:55:25 granger Exp $
 *
 * Configuration file for ARM project configuration
 */

/*
 * The project name, such as STM or UAV
 */
#define CFG_PROJECTNAME 	SGP

/*
 * The absolute path name of the project directory (i.e., the parent
 * directory of this src directory.
 */
#define CFG_PROJECTDIR		"/apps/zebra/project/ARM"

/*
 * Define the default data directories which contain the individual platform
 * directories.  These can be overridden with the DATAHOME or
 * DEVDATAHOME environment variables.
 */
#define CFG_DATAHOME "/data/cdf"
#define CFG_DEVDATAHOME "/data/devcdf"
#define CFG_DSCACHEFILE "data.ds_cache"

/*
 * Define the symbol REALTIME to enable certain realtime behavior, such
 * as periodic rescans and cache updates.  This also forces graphics 
 * windows to come up in realtime mode.
 */
#define REALTIME

/*
 * The path to the Web browser.  If it is on the path, it does not need to
 * be an absolute path.  Make sure it is enclosed in double quotes.
 */
#define CFG_BROWSERPATH "/local/bin/netscape"


