/* $Id: config.h.dist,v 1.1 1997-02-04 14:56:18 granger Exp $
 *
 * Configuration file for ARM project configuration
 */

/*
 * The project name, such as STM or UAV
 */
#define ProjectName 	STM /* UAV */

/*
 * The absolute path name of the project directory (i.e., the parent
 * directory of this src directory.
 */
#define ProjectDir	/* e.g. /apps/dev/sgp/project/STM */

/*
 * Define this to be the directory which contains the platform directories.
 * For example, if /data is the data home, then the individual platform
 * directories are in /data/sgp/platforms, to which DefaultDataDir should
 * be defined.  This can be overridden on the zstart command line or
 * with the DATAHOME or DATA_DIR environment variables.
 */
#define DefaultDataDir	/data/sgp/platforms

/*
 * Define the symbol Realtime to enable certain realtime behavior, such
 * as periodic rescans and cache updates.  This also forces graphics 
 * windows to come up in realtime mode.
 */
#define Realtime


