!
! MAP platforms
!

!
! The elev and topo data live under the project directory
!
set map_elev_dir concat(c$projdir,"/map_elev")
set map_topo_dir concat(c$projdir,"/map_topo")
message #map_elev_dir
message #map_topo_dir

!
! Our default source
!
source main
	directory #c$datadir
	PlatDir map_elev #map_elev_dir
	PlatDir map_topo #map_topo_dir
endsource

!
! Class definitions
!
read ds.classes

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform

!
! The radars
!
instance NCGrid		san_pietro fossalon teolo n42rf_lf
instance Sweepfile	spol
instance NC3DGrid	spol_grid mt_lema ronsard mdopp

!
! Aircraft and flight plans
!
instance NCMobileScalar	n308d n42rf n43rf arat merlin
instance Boundary 	n308d_plan n42rf_plan arat_plan merlin_plan 
instance MobileImage	n42rf_lf

!
! topographic data
!
instance NCGrid		map_elev map_topo



