! $Id: ds.config,v 1.1 1997-03-14 20:15:49 corbet Exp $
! fastex ds.config
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif


!
! We don't have any real time data streams, so files don't change.
!
set DFTableSize 6000

set LFileConst true
set CacheOnExit true

set DisableRemote true

every 900 'rescan all'

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform


!----------------------------------------------------------------------
! ISS stuff.
!
! The ISSPlatform class specifies that each subplat directory
! will be a subdirectory of the parent: parentdir/<subplat name>.
! The class itself is abstract since it is incomplete and only
! its subclasses will be instantiated.  Since all ISS platforms will
! use netcdf, the inherit filetype from the class as well.
!
class ISSPlatform
        abstract
        instancedir     subdirparent
        filetype        netcdf
endclass ISSPlatform

class CLASS ISSPlatform
        organization    scalar
        mobile
endclass

class Profiler915 ISSPlatform
        organization    1dgrid
endclass

class Rass915 ISSPlatform
        organization    1dgrid
        discrete
endclass

class Surface ISSPlatform
        organization    scalar
        maxsamples      720
	mobile
endclass

!
! A tracking platform.  Since it isn't mobile, locations will be
! taken from the first class sample, at the surface.  Explicitly
! shares the ISS site's class directory.  Basically this is an
! "immobile" version of the CLASS platform.
!
class Track ISSPlatform
	organization	scalar
	directory	class
endclass

!
! The class for ISS platform sites
!
class ISS
        virtual
        filetype        netcdf
        organization    scalar
        inheritdir      none
        instancedir     root
        subplats CLASS class
	subplats Track track
        subplats Profiler915 prof915h
        subplats Profiler915 prof915l
        subplats Rass915 rass915
        subplats Surface surface_met
endclass ISS

!
! Instantiate the ISS stations, for which each of the ISS subplatforms
! will also be instantiated.
!
instance ISS suroit knorr


!-------------------------------------------------------------------------
! Sounding platforms
!
class Sounding
      	organization	scalar
	filetype	netcdf
	maxsamples	5000
	mobile
endclass

instance Sounding sounding/lear-ds sounding/g4-ds


!
! Radar data (image)
!
class RadarImage
	organization	image
	filetype	raster
	mobile
	maxsample	30
endclass

instance RadarImage n42rf_lf

!
! Satellite.
!
class Satellite
      	organization	image
	filetype	compressed_raster
	maxsamples	1
endclass

instance Satellite meteosat

!
! Aircraft
!
class ACTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	3600
endclass

instance ACTrack n42rf_st n308d g4 c130
