! $Id: ds.config,v 1.5 1995-10-12 20:59:00 corbet Exp $
!
! COARE data workshop configuration file.  Now uses classes and such.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/net/tcw/data/zeb"
endif

!
! The following lines say:
!	- Files do not change on the disk
!	- Attempt to write cache files on exit
! the net result is faster zeb startup.
!
set LDirConst true
set LFileConst true
set CacheOnExit false
!
! No remote files, but *lots* of local ones.
!
set DisableRemote true
set DFTableSize 50000
set DFTableGrow 1000
set PTableSize  250

!
! TAO --- Tropical Atmosphere-Ocean moorings data
!
! If you want to look at this data, it may be FTP'd from ftp.noaapmel.gov.
! it needs to be converted using tao_conv, which is part of the data 
! utilities package.
!
! maxsamples presently set to allow at least a year of daily data
!
platform tao
	organization	irgrid
	filetype	netcdf
	maxsamples	500
	composite
endplatform

!
! This subplatform list works with data ingested after the fact, and will
! cause trouble with the tao file on the zeb tape.
!
subplatform tao 0n110w	0n125w	0n140w	0n143e
subplatform tao 0n154e	0n155w	0n156e	0n158e
subplatform tao 0n160e  0n170w
subplatform tao 0n165e	0n170e	0n180w	0n80e
subplatform tao 0n95w	2n110w	2n125w	2n137e
subplatform tao 2n140w	2n147e	2n155w	2n156e
subplatform tao 2n165e		2n170w	2n180w
subplatform tao 2n95w	2s110w	2s125w	2s140w
subplatform tao 2s155w	2s156e	2s165e	2s170w
subplatform tao 2s180w	2s95w	5n110w	5n125w
subplatform tao 5n137e	5n140w	5n147e	5n155w
subplatform tao 5n156e	5n165e	5n170w	5n180w
subplatform tao 5s110w	5s125w	5s140w	5s155w
subplatform tao 5s156e	5s165e	5s170w	5s180w
subplatform tao 8n110w	8n125w	8n155w	8n165e
subplatform tao 8n170w	8s110w	8s125w	8s155w
subplatform tao 8s165e	8s170w	9n140w

!
! Hourly tao data.  Useless at this point...
!
platform tao_hr
	organization	irgrid
	filetype	netcdf
	maxsamples	360
	composite
endplatform

subplatform tao_hr	0n125w	0n110w	0n140w	0n143e	0n154e	0n155w	0n156e
subplatform tao_hr	0n158e	0n170w	0n165e	0n170e	0n95w	2n125w	2n137e
subplatform tao_hr	2n140w	2n147e	2n155w	2n156e	2n165e	2n170w	
subplatform tao_hr	2n95w	2s125w	2s140w	2s155w	2s156e	2s165e	2s170w
subplatform tao_hr	2s95w	5n125w	5n140w	5n147e	5n155w
subplatform tao_hr	5n156e	5n165e	5n170w	5n180w	5s125w	5s140w	5s155w
subplatform tao_hr	5s156e	5s165e	5s170w	7n147w	8n165e
subplatform tao_hr	8n170w	8s125w	8s155w	8s165e	8s170w	9n140w




!
! Satellites
!
class Satellite
      	organization	image
	filetype	raster
	maxsamples	1
endclass

instance Satellite gms gms-big flament_ir
instance Satellite ssmi_s2 ssmi_s4 ssmi_s5
instance Satellite gms-bom

!
! Brightness temperatures are put in a separate platform because
! of a hard limit in the number of fields in a raster file.
!
instance Satellite ssmi_s2_tb ssmi_s4_tb ssmi_s5_tb

class GSatellite
      	organization    2dgrid
        filetype        netcdf
        maxsamples      10
endclass

instance GSatellite     ers1
!
! CTD data.
!
class CTD
	organization	1dgrid
	filetype	netcdf
	mobile
endclass

instance CTD nat_ctd vickers_ctd wecoma_ctd moana_ctd alis_ctd malaita_ctd
instance CTD noroit_ctd kexue_ctd

!
! Radar data (image)
!
class RadarImage
	organization	image
	filetype	raster
	mobile
	maxsample	30
endclass

instance RadarImage n42rf_lf n43rf_lf


!
! Aircraft
!
class ACTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass

instance ACTrack n42rf_st n43rf_st n308d nasa_dc8 nasa_er2 c340_st c130_st
instance ACTrack uci-n42rf uci-n43rf

class PMS_Analysis
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass 

instance PMS_Analysis	n308d_pms_anal

!
! Ship positions
!
class ShipTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass

instance ShipTrack franklin fr_sst mw_flux wecoma

!
! ISSish stuff.  Profiler and RASS are identical, but might as well keep
! them separate.
!
class Profiler
	organization	1dgrid
	filetype	netcdf
	maxsamples	100
	daysplit
endclass

class RASS
	organization	1dgrid
	filetype	netcdf
	maxsamples	100
	daysplit
endclass

class Sounding
      	organization	scalar
	filetype	netcdf
	maxsamples	5000
	mobile
endclass

instance Sounding sounding/ambon sounding/biak sounding/davao
instance Sounding sounding/honiara sounding/kanton sounding/keifu_maru
instance Sounding sounding/kota sounding/kuching sounding/kupang
instance Sounding sounding/laoag sounding/legaspi sounding/mactan
instance Sounding sounding/madang sounding/menado sounding/padang
instance Sounding sounding/ujungp sounding/vickers

instance Sounding sounding/chuuk sounding/darwin sounding/singapore
instance Sounding sounding/thursday sounding/yap sounding/natsu

instance Sounding sounding/dc8a sounding/dc8b sounding/p3a sounding/p3b
instance Sounding sounding/kapinga sounding/kavieng sounding/manus
instance Sounding sounding/sci1 sounding/exp3 sounding/moana_wave
instance Sounding sounding/ship5 sounding/nauru

instance Sounding sounding/gove sounding/guam sounding/hongkong
instance Sounding sounding/hakuho_maru sounding/korror sounding/kwajalein
instance Sounding sounding/majuro sounding/misima sounding/pohnpei
instance Sounding sounding/santacruz
!
! More soundings 9/95...
!
instance Sounding sounding/n308d_s sounding/n42rf_s sounding/n43rf_s
instance Sounding sounding/funafuti sounding/tarawa

!
! This thing isn't really a sounding, but what the heck??
!
instance Sounding whoibuoy

instance RASS	  rass/manus_r rass/kapinga_r rass/kavieng_r rass/nauru_r
instance RASS	  rass/moana_r rass/sci1_r rass/exp3_r

instance Profiler prof/kapinga_l prof/kapinga_h prof/nauru_l prof/nauru_h
instance Profiler prof/manus_l prof/manus_h prof/kavieng_l prof/kavieng_h
instance Profiler prof/sci1_l prof/sci1_h prof/exp3_l prof/exp3_h prof/biak
instance Profiler prof/chris prof/moana_l prof/moana_h

!
! Single surface stations
!
class Surface
      	organization	scalar
	filetype	netcdf
	maxsamples	720
endclass

instance Surface surf/kapinga_s surf/kavieng_s surf/nauru_s surf/manus_s
instance Surface surf/sci1_s surf/exp3_s

!instance Surface kapinga/surf kavieng/surf nauru/surf manus/surf
!instance Surface sci1/surf exp3/surf

!
! Model datasets.
!
class GradsModel
	filetype	grads
	organization	nspace
endclass
instance GradsModel	nmc/analysis nmc/slp nmc/velpot nmc/precip nmc/precip24
instance GradsModel	fnoc/clouds fnoc/ocean fnoc/slp fnoc/syn fnoc/syn_vsfc
instance GradsModel	fnoc/velpot fnoc/winds fnoc/precip fnoc/precip24


!
! netCDF model data (rgrid files w/bogus altitudes...)
!
platform ecmwf_netcdf
	filetype	netcdf
	organization	nspace
!	model
endplatform

!
! GRIB format models
!
class GRIBModel
	filetype	grib
	organization	nspace
!	model
endclass

instance GRIBModel	ecmwf ! nogaps

!
! ECMWF surface fields
!
platform ecmwf_sfc
	filetype	grib_sfc
	organization	nspace
! share directory (and files) with ecmwf
	directory	ecmwf
!	model
endplatform

!
! LD2 dropsondes
!
platform ld2_d8a
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform ld2_d8b
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform ld2_p3a
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

platform ld2_p3b
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endplatform

! 
! Shipboard radar
!
platform toga_rad
        organization image
        filetype compressed_raster
        mobile
endplatform

platform mit_rad
        organization image
        filetype compressed_raster
        mobile
endplatform

!
! Gridded radar.
!
class GriddedRadar
      	filetype        netcdf
        organization    3dgrid
        mobile
endclass

!
! Sea surface temperature platforms.
!
class SST
      	filetype	netcdf
	organization	2dgrid
endclass

instance SST sst/10day sst/14day sst/monthly

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform
