!
! TRMM data store configuration file.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir concat(getenv("PWD"),"/data")
endif

!
! Cache settings for static data files and directories, and no remote
!
set CacheOnExit true
set LDirConst true
set RDirConst true
set LFileConst true
set RFileConst true
set DisableRemote true

!
! Satellite
!

platform gms_darwin
	organization	image
	filetype	raster
	maxsamples	50
endplatform

platform gms_aus
	organization	image
	filetype	raster
	maxsamples	50
endplatform

platform ssmi
	organization	image
	filetype	raster
	maxsamples	50
endplatform

!
! Gridded radar data
!

platform radar
	organization 	3dgrid
	filetype	netCDF
endplatform

!
! Raingauge network
!

platform raingauge
	organization	irgrid
	filetype	netCDF
	maxsamples	720
	composite
endplatform

subplatform raingauge	ann bah bat bel ber car chp dum gap gom gup hum
subplatform raingauge	kol lab lit man mil mbu ops pic pst sbo wol

!
! Sounding sites, separated into wind_ and sonde_
!

platform wind_94120
	organization	scalar
	filetype	netcdf
	mobile
endplatform

platform sonde_94120
	organization	scalar
	filetype	netcdf
	mobile
endplatform

!
! Spotlight platform for user-drawn boundaries
!

platform spotlight
	organization	outline
	filetype	zeb
	maxsamples	10
endplatform
