!
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'

set libpddir concat(c$libdir,'/pd')
pddir #libpddir
pddir pd

!
! Add our color table directory to the path.
!
set CTablePath concat('colortables,',CTablePath)

!
! The graphics process initialization file.
!
!set init_file  concat(c$basedir, "/coare/gp.init")
!
! Take what's in the current directory (which should be
! the project directory) instead of fixing the path
!
set init_file "gp.init"

! It's used all the time, so define it here
!
beginpd whiteclock
component clock
	parameter xfont		"-*-new century schoolbook-bold-r-*-*-25-*-*-*-*-*-*-*"
	parameter foreground	black
	parameter background	white
endpd

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps

message '     ...display configurations ...'
read DisplayConfigs

message '     ...ISS active area code ...'
read dm.iss

message '     ...the icon bar...'
read IconBar
message 'ready!'

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure


!
! Stuff for window creation.
!
define widget cw_wintypes intmenu 'Coare version'
       title 'Window types'
       line
       entry 'Constant Altitude Plot' 'cw_type "Constant altitude"'
       entry 'Time-series' 'cw_type "Time series"'
       entry 'Skew-t' 'cw_type "Skew-t"'
       entry 'Wind profile' 'cw_type "Wind profile"'
       entry 'Depth profile (CTD)' 'cw_type "Depth profile"'
       entry 'Time/depth CTD profile' 'cw_type "Time/depth profile"'
       entry 'Time/depth contour plot' 'cw_type "Time/depth contour"'
endmenu

procedure ProjectNewWindow type string
	if (type = 'Depth profile')
		set nw_pd 'depth-profile-template'
	elseif (type = 'Time/depth profile')
	        set nw_pd 'time-depth-template'
	elseif (type = 'Time/depth contour')
	       set nw_pd 'depth-contour-template'
	endif
	set nw_bmap 'xyplot'
endprocedure


!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1

!
! Come up with an interesting display.
!
set SoundEnabled false
set ForceHistory true
set itime getenv("INITIAL_TIME")
if (itime <> "UNDEFINED")
	history all #itime
endif

parameter defaults defaults file-path /scr/local

config empty
	widget 'iconbar' 1072 7 70 465
endconfig

set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "empty"
endif
display #config
