!
! COARE data workshop configuration file.  Now uses classes and such.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
else
	set DataDir "/net/tcw/data/zeb"
endif

!
! The following lines say:
!	- Files do not change on the disk
!	- Attempt to write cache files on exit
! the net result is faster zeb startup.
!
set LFileConst true
set CacheOnExit true
!
! No remote files, but *lots* of local ones.
!
set DisableRemote true
set DFTableSize 20000


!
! TAO --- Tropical Atmosphere-Ocean moorings data
!
! If you want to look at this data, it may be FTP'd from ftp.noaapmel.gov.
! it needs to be converted using tao_conv, which is part of the data 
! utilities package.
!
! maxsamples presently set to allow at least a year of daily data
!
platform tao
	organization	irgrid
	filetype	netcdf
	maxsamples	500
	composite
endplatform

!
! This subplatform list works with data ingested after the fact, and will
! cause trouble with the tao file on the zeb tape.
!
subplatform tao 0n110w	0n125w	0n140w	0n143e
subplatform tao 0n154e	0n155w	0n156e	0n158e
subplatform tao 0n160e  0n170w
subplatform tao 0n165e	0n170e	0n180w	0n80e
subplatform tao 0n95w	2n110w	2n125w	2n137e
subplatform tao 2n140w	2n147e	2n155w	2n156e
subplatform tao 2n165e		2n170w	2n180w
subplatform tao 2n95w	2s110w	2s125w	2s140w
subplatform tao 2s155w	2s156e	2s165e	2s170w
subplatform tao 2s180w	2s95w	5n110w	5n125w
subplatform tao 5n137e	5n140w	5n147e	5n155w
subplatform tao 5n156e	5n165e	5n170w	5n180w
subplatform tao 5s110w	5s125w	5s140w	5s155w
subplatform tao 5s156e	5s165e	5s170w	5s180w
subplatform tao 8n110w	8n125w	8n155w	8n165e
subplatform tao 8n170w	8s110w	8s125w	8s155w
subplatform tao 8s165e	8s170w	9n140w

!
! Satellites
!
class Satellite
      	organization	image
	filetype	raster
	maxsamples	1
endclass

instance Satellite gms gms-big flament_ir 
instance Satellite ssmi_s2 ssmi_s4 ssmi_s5 

class GSatellite
      	organization    2dgrid
        filetype        netcdf
        maxsamples      10
endclass

instance GSatellite     ers1

!
! CTD data.
!
class CTD
	organization	1dgrid
	filetype	netcdf
	mobile
endclass

instance CTD nat_ctd vickers_ctd wecoma_ctd moana_ctd alis_ctd malaita_ctd
instance CTD noroit_ctd kexue_ctd

!
! Radar data (image)
!
class RadarImage
	organization	image
	filetype	raster
	mobile
	maxsample	30
endclass

instance RadarImage n42rf_lf n43rf_lf


!
! Aircraft
!
class ACTrack
	organization	scalar
	filetype	netcdf
	mobile
	maxsample	1000
endclass

instance ACTrack n42rf_st n43rf_st n308d_dap nasa_dc8 nasa_er2

!
! ISSish stuff.  Profiler and RASS are identical, but might as well keep
! them separate.
!
class Profiler
	organization	nspace
	filetype	netcdf
	maxsamples	100
	daysplit
endclass

class RASS
	organization	nspace
	filetype	netcdf
	maxsamples	100
	daysplit
endclass

class Sounding
      	organization	scalar
	filetype	netcdf
	maxsamples	5000
	mobile
endclass

instance Sounding sounding/chuuk sounding/darwin sounding/singapore
instance Sounding sounding/thursday sounding/yap

instance Sounding sounding/l2d2
instance Sounding sounding/kapinga sounding/kavieng sounding/manus
instance Sounding sounding/sci1 sounding/exp3 sounding/moana_wave
instance Sounding sounding/ship5 

!instance Sounding kapinga/omega kavieng/omega nauru/omega
!instance Sounding manus/omega sci1/omega exp3/omega

instance RASS	  kapinga/rass915 kavieng/rass915 nauru/rass915
instance RASS	  manus/rass915 sci1/rass915 exp3/rass915 moana/rass915
instance Profiler kapinga/prof915h kavieng/prof915h nauru/prof915h
instance Profiler manus/prof915h sci1/prof915h exp3/prof915h moana/prof915h
instance Profiler kapinga/prof915l kavieng/prof915l nauru/prof915l
instance Profiler manus/prof915l sci1/prof915l exp3/prof915l moana/prof915l
instance Profiler biak/prof50h chris/prof50h

!
! Single surface stations
!
class Surface
      	organization	scalar
	filetype	netcdf
	maxsamples	720
endclass

instance Surface kapinga/surf kavieng/surf nauru/surf manus/surf
instance Surface sci1/surf exp3/surf

!
! Model datasets.
!
class GradsModel
	filetype	grads
	organization	nspace
endclass

instance GradsModel	nmc-analysis

class GRIBModel
      	organization	nspace
	filetype	grib
endclass

instance GRIBModel	ecmwf

!
! LD2 dropsondes
!
class Dropsonde
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
endclass

instance Dropsonde ld2_d8a ld2_d8b ld2_p3a ld2_p3b

! 
! Shipboard radar
!
class ShipRadar
        organization image
        filetype compressed_raster
        mobile
endclass

instance ShipRadar toga_rad mit_rad

!
! The null placeholder platform.
!
platform null
	organization	scalar
	filetype	zeb
endplatform

! corbet Tue Jun 28 15:41:57 MDT 1994
instance GradsModel fnoc.ocean
! corbet Tue Jun 28 16:39:47 MDT 1994
instance GradsModel fnoc.slp
! corbet Tue Jun 28 16:46:53 MDT 1994
instance GradsModel fnoc.syn
! corbet Tue Jul 12 08:31:53 MDT 1994
instance Sounding sounding/gove
! corbet Tue Jul 12 09:08:44 MDT 1994
instance Sounding sounding/guam
! corbet Tue Jul 12 11:17:12 MDT 1994
instance Sounding sounding/hongkong
! corbet Tue Jul 12 12:58:46 MDT 1994
instance Sounding sounding/hakuho_maru
! corbet Tue Jul 12 13:25:09 MDT 1994
instance Sounding sounding/korror
! corbet Tue Jul 12 16:17:22 MDT 1994
instance Sounding sounding/kwajalein
! corbet Tue Jul 12 20:10:20 MDT 1994
instance Sounding sounding/majuro
! corbet Wed Jul 13 08:27:42 MDT 1994
instance Sounding sounding/misima
! corbet Wed Jul 13 08:42:44 MDT 1994
instance Sounding sounding/pohnpei
! corbet Wed Jul 13 11:06:07 MDT 1994
instance Sounding sounding/santacruz
