global
	pd-name:	c_rap_<template>
c_rap_<template>
	representation:	overlay
	platform:	<platforms>
	field:		boundary
	color:		<color>
	num-stations:	<num-stations>
	age-limit:	35m
	base-platform:	rap_<template>
	line-width:	2
	icon-middle-menu:	rap_pdb-middle
	icon-right-menu:	bdry-right
	closed-boundary:	<closed>
	trigger-global:	true
	trigger:	<trigger>
	icon:		rap_<template>
	label-size:	0.020
	show-icon:	false
