#! /bin/sh
# $Id: bamex.rc,v 1.1 2003-06-12 19:36:41 burghart Exp $
#
# Copy this file to /etc/rc.d/init.d/bamex.rc and execute (as root):
#
#     # chkconfig --add bamex.rc
#
# to start executing it at boot time
#
#
# BAMEX stuff:
#    mdv2netCDF startup
#
# chkconfig: 2345 90 10
# description: BAMEX stuff to start at boot time
#

# Source function library.
. /etc/init.d/functions

SCRIPTDIR="/usr/local/zebra/project/bamex/scripts"
USER="burghart"

case "$1" in
    'start')
    	action "Starting mdv2netCDF for BAMEX GOES data:" \
	    su - $USER -c $SCRIPTDIR/start_mdv2netCDF.csh
	;;
    'stop')
    	action "Stopping mdv2netCDF for BAMEX GOES data:" \
	    /usr/bin/killall -q mdv2netCDF
	;;
    'restart')
	$0 stop
	$0 start
	;;
esac
