!
! Display manager configuration file.
!
!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'
pddir pd
pddir dconfig/pd
set configdir '/zeb/fest/dconfig'
!
! The graphics process initialization file.
!
set init_file concat(c$basedir, "/fest/gp.init")

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...button maps...'
read ButtonMaps
message '     ...display configurations ...'
read DisplayConfigs
message '     ...color tables...'
read ColorTables
message '     ...the icon bar...'
read IconBar
message 'ready!'


!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure


!
! Stuff for the demo sounding stuff.  I'm not sure it's useful for anything,
! and should probably go away.
!
set IsSounding false

procedure toggle_snd
	if (IsSounding)
		display picture
	else
		display pictures
	endif
	set IsSounding (not IsSounding)
endprocedure

!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1

!
! Come up with an interesting display.
!
set filepath concat(c$basedir, "/tmp")
parameter defaults defaults file-path #filepath
parameter defaults defaults post-proc-mode true
set config getenv("DEFAULT_CONFIG")
if (config = "UNDEFINED")
	set config "fest"
endif
display #config
