!
! TITLE: Data store configuration file for executing from the CD-ROM.
!
! $Id: ds.config,v 1.2 1994-12-12 20:49:03 burghart Exp $
!
! Platform parameters:
!	organization 	The expected organization of the data
!		3dgrid		three dimensional regular grid
!		2dgrid		two-dimensional regular grid
!		irgrid		two-dimensional irregular grid (PAM)
!		scalar		basic scalar point data
!		outline		Boundaries
!	filetype 	How this data is stored on the disk.  Only "netcdf"
!		 	for now; more later.
!			Later: "boundary" works too.
!	keep 		The minimum time period of data to keep on the disk if
!			at all possible.
!	maxsamples 	The maximum number of data samples to put into one
!		      	disk file.
!	mobile		Indicates that the data collection platform moves
!			through space.  Forsoundings, aircraft.
!	regular		This platform can be expected to return
!			regularly-spaced samples at the given interval.
!	composite	This "platform" is a grouping of several smaller
!			platforms.  Only irgrid platforms -- groupings of
!			stationary scalar platforms -- are supported now.
!	discrete	Observations are clumped together into discrete
!			chunks.  Used to select the optimal file organization.
!	directory	The directory in which to find data for this
!			platform.
!

!
! Things that need to be set here:
!
!	- where the CDROM lives
!	- where the local data dir is.
!
if (getenv ("REM_DATA_DIR") <> "UNDEFINED")
	set RemDataDir	getenv("REM_DATA_DIR")
	set DisableRemote false
else
	set DisableRemote true
endif
!
! We gots lots of platforms.
!
set PTableSize 1100
set CTableSize 200
!
! CACHE OPTIONS:
! When running from the CD, everything is constant, naturally.  And there's
! no sense trying to write cache files.  When installed on disk, LDirConst
! should be false and CacheOnExit should be true.
!
set LDirConst	true
set LFileConst	true
set RDirConst	true
set RFileConst	true
set CacheOnExit false

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set datadir getenv("DATA_DIR")
endif

set host getenv("HOST")

!
! Local grand cache file, if defined
!
if (getenv ("UNIFIED_CACHE") <> "UNDEFINED")
	set CacheFile getenv("UNIFIED_CACHE")
endif

!
! Throw in a remote cache file if we got one.
!
if (getenv ("REM_UNIFIED_CACHE") <> "UNDEFINED")
	set RemoteCacheFile getenv("REM_UNIFIED_CACHE")
endif



!
!Aircraft
!
platform storm2		! NCAR King Air
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform storm4		! C130
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform storm1		! Wyoming King Air
	organization 	scalar
	filetype	netcdf
	mobile
endplatform

platform p3		! NOAA P3 
	organization 	scalar
	filetype	netcdf
	mobile
endplatform
!
!CP4
!
platform cp4
	organization	image
	filetype	compressed_raster
	maxsamples	50
endplatform

!
! NOWRAD data (fixed and floater)
!
platform nowrad
	organization	image
	filetype	compressed_raster
	maxsamples	50
endplatform

platform nowrad_f
	organization	image
	filetype	compressed_raster
	maxsamples	50
endplatform
!
! GOES satellite data
!
platform goes_fest
	organization	image
	filetype	compressed_raster
	maxsamples	50
endplatform

platform goes_us
	organization	image
	filetype	compressed_raster
	maxsamples	50
endplatform
!
!Surface Composite
!

read ds.surface

!
!Aster data
!
platform aster
	organization	scalar
	filetype	netcdf
endplatform
!
! Sounding platforms
!
platform s3v1		! Burlington
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform s62k		! Senena
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sabq		! Albuquerque
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sadq		! Kodiak	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sakz		! Arkansas City
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sama		! Amarillo
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sann		! Annette	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform saws_a		!Air Weather Service Dropsondes "A"
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform saws_b		!Air Weather Service Dropsondes "B"
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sbis		! Bismarck	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sboi		! Boise	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform scgo		!Cottage Grove
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform scou		! Columbia
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sddc		! Dodge City
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sden		! Denver	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sdra		! Desert Rock	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sear		! Kearney
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform selp		! El Paso
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sely		! Ely	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sfsi		! Fort Sill
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sgeg		! Spokane	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sggg		! Longview	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sggw		! Glasgow	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform


platform sgjt		! Grand Junction
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sgrb		! Green Bay	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sgtf		! Great Falls	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sguy		! Guymon	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform shen		! Henderson
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform shon		! Huron	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform shys		! Hays
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform


platform sila		!Williams CA
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sinw		! Winslow	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform siow		! Iowa City
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sirk		! Kirksville
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform slbf		! North Platte	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform slit		! Little Rock	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform slnd		! Lander	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform smaf		! Midland	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform smfr		! Medford	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform smyf		! San Diego	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform snps		!Monterey
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sntd		!Point Mugu
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform soak		! Oakland	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform solm		!Olympia
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform soma		! Omaha	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform soun		! Norman	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform spah		! Paducah	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform spia		! Peoria	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sprb		!Pasarobles CA
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform srap		! Rapid City	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform srdd		!Redding
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform ssep		! Stephenville	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sslb		! Storm Lake
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sslc		! Salt Lake City	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform ssle		! Salem	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sstc		! St. Cloud	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sstl		! Columbia
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform stop		! Topeka	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform stus		! Tucson	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform suil		! Quillayute	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sumn		! Monett	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform svbg		!Vndenberg AFB
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform swil		!Flatlands, IL
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform swmc		! Winnemucca	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform swse		!Edmonton-Stony Plain
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform swvk		!Vernon
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syak		! Yakutat	
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syev		!Inuvik
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sysm		!Fort Smith
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syvq		!Norman Wells
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syxs		!Prince George
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syxy		!Whitehorse
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syye		!Fort Nelson
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform syzt		!Port Hardy
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sl2d2_p3_a		!P3 L2D2 "A"
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sl2d2_p3_b		!P3 L2D2 "B"
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

platform sl2d2_s2		!Storm 2 L2D2
	organization	scalar
	filetype	netcdf
	maxsamples	1000
	mobile
	discrete
endplatform

!
! profilers
!

platform prof_azcn5_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_azcn5_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_blmm7_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_blmm7_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_blrw3_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_blrw3_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_cnwm7_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_cnwm7_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_dqua4_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_dqua4_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_fbyn1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_fbyn1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_gdac2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_gdac2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hklo2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hklo2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hvlk1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hvlk1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hbrk1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_hbrk1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_jtnt2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_jtnt2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_nrcm5_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_nrcm5_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_lmno2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_lmno2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_lthm7_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_lthm7_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_rwdn1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_rwdn1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_mbww4_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_mbww4_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_mrrn1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_mrrn1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_nlgn1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_nlgn1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_ndsk1_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_ndsk1_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_okom6_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_okom6_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_patt2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_patt2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_pltc2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_pltc2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_prco2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_prco2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_slai4_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_slai4_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_tcun5_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_tcun5_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_vcio2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_vcio2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wsmn5_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wsmn5_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wnci2_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wnci2_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wdlm5_l
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

platform prof_wdlm5_h
	organization	1dgrid
	filetype	netcdf
	discrete
	maxsamples	1000
endplatform

!
! Model data
!
read ds.model
