!
! Display manager configuration file.
!

set undef "UNDEFINED"

!
! See if we were passed in a default configuration
!
set config getenv("DEFAULT_CONFIG")
if (config = undef)
	set config "map"
endif

!
! Make sure the project directory variable is set correctly, since
! we rely on it for runtime configuration.
!
if (getenv("ZEB_PROJDIR") <> undef)
	set c$projdir getenv("ZEB_PROJDIR")
endif

!
! Check whether we're running in admin mode or not, and set the
! Admin variable accordingly
!

if (substring (c$projdir, "admin"))
	message 'Running juneau administration config.'
	set Admin true
else
	set Admin false
endif

set EnableTimePopup true

if (substring (c$projdir, "airport"))
	message 'Running airport ops config.'
	set EnableTimePopup false
	set config "air_ops"
endif

!
! Load in our plot descriptions.
!
message 'Loading:'
message '     ...plot descriptions...'

set libpddir concat(c$libdir,'/pd')
pddir #libpddir
pddir pd

!
! Pick the age limit parameters and drop them into defaults
!
if (substring (c$projdir, "syncdata"))
	message '     Using rsync data age parameters'
	pddrop ages syncdata defaults defaults
else
	pddrop ages realtime defaults defaults
endif

!
! Other parameters to be merged into the defaults pd
!
pddrop safe_defaults safe_defaults defaults defaults

!
! Kludgery for dm modules -- add commands, primarily.
!
set DmModPath 'dmmodules'

!
! Switch over to Mosaic help -- death to xhelp!
! This stuff is now in config.h, though you can always override it here.
!
!set UseXHelp false
!set HelpPath '/net/src2/zeb/helpfiles'	! temporary

!
! Add our color table directory to the path.
!
set CTablePath concat('colortables,',CTablePath)

!
! Reset a window to its default plot description.  Expects to be invoked
! from a graphics process.
!
procedure ResetWindow
	local pdname pd_param(dm$button_window,"global","pd-name","string")
	newpd dm$button_window pdname
endprocedure

!
! Most of the interesting stuff is in other files -- if you looked here,
! you lose!
!
message '     ...widgets...'
read dm.widgets

message '     ...button maps...'
read ButtonMaps

message '     ...display configurations ...'
read DisplayConfigs

if (Admin)
	message '     ...the admin icon bar...'
	set iconbar "read 'admin/IconBar'"
else
	message '     ...the icon bar...'
	set iconbar "read 'restricted/IconBar'"
endif
#iconbar 
message 'ready!'

!
! Handle zooming out of window menus.
!
procedure zoom window string
	if (dm$config = "zoom")		! Already zoomed -- go back
		display #previous_config
	else
		set previous_config dm$config
		display zoom #window
	endif
endprocedure




!
! When and how long to sleep when creating windows.
! OpenWindows => 1,5	X => 4,1
set sleepafter	4
set sleepfor	1

!
! Come up with an interesting display.
!
set SoundEnabled false
set ForceHistory false
set itime getenv("INITIAL_TIME")
if (itime <> undef)
	history all #itime
endif

display #config
