!
! $Id: ds.config,v 1.2 1997-03-26 17:22:53 granger Exp $
! Generic ds.config file with just the "null" platform.  Add project
! platforms at the end of the file.
!

!
! Path to the data directory.
!
if (getenv ("DATA_DIR") <> "UNDEFINED")
	set DataDir getenv("DATA_DIR")
endif

!
! Can we make assumptions for faster file scanning?
!
set LFileConst false
set LDirConst  false
set DisableRemote false
set RFileConst false
set RDirConst  false

!
! Create cache files on exit?
!
set CacheOnExit true

!
! Wind stations
!
class WindStation
	organization	scalar
	filetype	netcdf
	maxsample	100000
	daysplit
endclass

!
! Raw data platforms
!
instance WindStation	sheep_mount eagle_crest baf1 fedb one two 
instance WindStation	raw_runway_west raw_runway_mid raw_runway_east
instance WindStation	raw_mt_roberts

!
! "Added value" platforms, with extra derived fields
!
instance WindStation	sheep_mount_x eagle_crest_x
instance WindStation	fedb_x baf1_x
instance WindStation	runway_west runway_mid runway_east
instance WindStation	mt_roberts

!
! Useful null platform
!
platform null
	organization	scalar
	filetype	netcdf
endplatform
